<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<br>
		<h1>Gnosis</h1>
		<br>
		<ngb-tabset>
			<ngb-tab title="Gnosis">
				<ng-template ngbTabContent>
					<br>
					<p>
						Gaia did not leave the Garou with Rage as their only 
						inheritance of her spiritual power. She gave them another 
						tool, one that connects her children to their other nature, 
						the spirit world. This connection to the Sacred Mother 
						is called Gnosis.
					</p>
					<p>
						Gnosis is the essence of the spiritual world; it allows 
						Garou to access the spirits that surround them. In some 
						ways, it is the expression of their half-spirit nature. This 
						connection is what makes travel to the Umbra possible, 
						and it fuels many of the powerful Gifts the spirits can 
						bestow. Without this spiritual force, Garou would be cut 
						off from half of their natures. Characters with low Gnosis 
						can find contact with the spirits rare and difficult. On the 
						other side, those with very high Gnosis scores sometimes 
						find the worlds blurring, and they may have trouble 
						distinguishing each side of the Gauntlet from the other.
					</p>
					<p>
						Much of a Garou’s struggle comes from a never-ending 
						battle with the Rage each werewolf feels. The Beast is 
						never far from their thoughts — even the most pacifistic 
						Ragabash or the most serene of the Children of Gaia looks 
						at a normal human and must repress the urge to rend and 
						tear and bite until all that’s left is blood and meat. Ahroun 
						have it far worse, fighting to see friends, family, and loved 
						ones as little more than prey animals or targets for attack.
					</p>
					<p>
						Gnosis is recorded in two forms, much like Rage and 
						Willpower. The first is the character’s permanent Gnosis 
						rating, indicated on the character sheet by the dots. The 
						second is the temporary Gnosis pool, represented by the 
						squares, which shows how many Gnosis points the player 
						has left to spend. The Gnosis pool can never be greater 
						than the Gnosis rating. When you spend a point of Gnosis, 
						remove it from the Gnosis pool, not the permanent Gnosis 
						rating. Permanent Gnosis stays constant through the story, 
						while the pool fluctuates.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Using Gnosis">
				<ng-template ngbTabContent>
					<br>
					<h2>Using Gnosis</h2>
					<p>
						Much as Rage fuels battle and the physical world, 
						the uses of Gnosis tend toward affecting insight and the 
						spirit world.<br><br>
						<b>Rage and Gnosis:</b>
						 A player cannot use both Rage 
						and Gnosis in the same turn, whether spending points or 
						rolling the Trait. The only exceptions are certain Gifts 
						that demand both to function. These two forces are very 
						powerful, and the Garou’s body is not strong enough to 
						pull the power from these two natures simultaneously. 
						For example, a werewolf cannot spend Rage for multiple 
						actions and activate a fetish in the same turn.<br><br>
						<b>Carrying Silver:</b>
						 For every object made of or containing 
						silver that a character is carrying, she loses one effective point 
						from her Gnosis rating. More potent objects will cause the 
						character to lose more. Luckily, this effect is only temporary, 
						and it lasts only a day after the silver is discarded.<br><br>
						<b>Using Gifts:</b>
						 Many of the Gifts the spirits have 
						bestowed upon faithful Garou call for Gnosis expenditures 
						and/or rolls.<br><br>
						<b>Fetishes:</b>
 						Gnosis is used to attune or activate fetishes. <br><br>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Gaining Gnosis">
				<ng-template ngbTabContent>
					<br>
					<h2>Gaining and Regaining Gnosis</h2>
					<p>
						Characters can regain their Gnosis in several ways.<br><br>
						<b>Meditation:</b>
						 When a character takes time to 
						center himself and reconnect with the Sacred Mother 
						on a personal level, he can sometimes regain Gnosis. 
						The character must spend at least an hour in one place, 
						focusing on his deeply spiritual side. The player rolls Wits 
						+ Enigmas (difficulty 8). For each success, the character 
						regains one Gnosis point, up to a maximum of one point 
						per hour of meditation; additional successes are lost. A 
						Garou can only meditate to regain Gnosis once per day. The 
						difficulty increases by one for each extra day a character 
						attempts it in the same week, to a maximum difficulty 
						of 10. The spirits are gracious, but not always generous.<br><br>
						<b>Sacred Hunt:</b>
						 The Sacred Hunt is one of the most 
						frequently performed activities at Garou moots. The 
						chosen prey — an Engling — is summoned and then hunted 
						down. This activity can be done in either the Umbra or 
						on Earth. After the prey has been caught and “killed,” 
						werewolves who have taken part in the hunt give thanks 
						to the spirit for the gift of its life. All who participate in 
						the hunt replenish their Gnosis pools completely. <br><br>
						<b>Bargaining with Spirits:</b>
						 Ritual hunts are not the 
						only way to get Gnosis out of a spirit; the soft sell can 
						work just as well. A werewolf can simply ask a spirit to 
						share some of its Gnosis. The character must be able to 
						speak in the spirit language through the use of a Gift or 
						similar. The spirit may ask the character to perform some 
						task before it shares its life force with the Garou. Once 
						the bargain is completed, the spirit spends an amount of 
						Essence, and the werewolf gains that many points of Gnosis.<br><br>
						<b>Between Stories: </b>
						In the downtime between new 
						tales, the players can make a Charisma + Enigmas roll to 
						regain some Gnosis. Each success on this roll refreshes 
						one point of Gnosis.<br><br>
					</p>
					<br>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>