<div class="gift-detail">
	<div *ngIf="character" >
		<div class="col-sm">
			<h2>{{character.name}} - Rank {{character.rank}}</h2>
			<br>
			<div><span><b>Description: </b><p [innerHTML]="character.description"></p></span></div>
				<br><br>
			<div><span><b>Pack: </b><p [innerHTML]="character.pack"></p></span></div>
			<br><br>
			<ul style="list-style: none; padding-left: 0px"> <b>Stories: </b>
				<li class="gift list-item"
					*ngFor="let story of character.stories">
					<a href={{story.link}}>{{story.title}}</a>
				</li>
			</ul>
		</div>
	<div>
</div>

