.gift-detail{
border-style: solid;
border-color: white;
border-radius: 15px;
padding: 25px; 
}

@media screen and (max-width: 1000px) {
	#characterImage {
  		height: auto;
  		width: 20em;
	}
}

@media screen and (min-width: 1000px) {
	#characterImage {
  		height: 30em;
  		width: auto;
	}
}
