<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<br>
		<h1>Rage</h1>
		<br>
		<ngb-tabset>
			<ngb-tab title="Rage">
				<ng-template ngbTabContent>
					<br>
					<p>
						Every Garou is a crucible for Gaia’s primal anger — her 
						Rage at the pillage of the world at the hands of the Weaver 
						and the Wyrm. This Rage is a force of mindless violence, a 
						constant slow-motion path of unthinking destruction and 
						violence that each and every Garou must keep control of lest 
						it consume her. Rage mixes instinctual cunning and hunting 
						ability with savage bloodlust and unpredictable horror.
					</p>
					<p>
						To the Garou, Rage is both a blessing and a curse. 
						Many think that Luna gave Rage to the Garou through 
						her moon-signs that determine how much Rage a Garou 
						begins his life with after the First Change. Others contend 
						that Rage is a spark of the Wyrm within each Garou, the 
						force of primal destruction corrupting the children of the 
						creator. The most vocal say that it is Gaia herself who would 
						have her children use her Rage as their greatest weapon.
					</p>
					<p>
						Much of a Garou’s struggle comes from a never-ending 
						battle with the Rage each werewolf feels. The Beast is 
						never far from their thoughts — even the most pacifistic 
						Ragabash or the most serene of the Children of Gaia looks 
						at a normal human and must repress the urge to rend and 
						tear and bite until all that’s left is blood and meat. Ahroun 
						have it far worse, fighting to see friends, family, and loved 
						ones as little more than prey animals or targets for attack.
					</p>
					<p>
						Rage is recorded in two forms on the character sheet. 
						The dots indicate the character’s Rage rating — her 
						permanent Rage. The second is the Rage pool, shown by 
						the squares underneath. These squares show how much 
						Rage you have left to spend. When you spend a point of 
						Rage, remove it from one of the squares. Don’t take it from 
						the dots of the permanent rating. A werewolf ’s permanent 
						Rage stays constant, while the pool will drop during the 
						course of the story. At certain times, a werewolf ’s Rage 
						can even go higher than his permanent rating, but only 
						if the situation is sufficiently infuriating.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Using Rage">
				<ng-template ngbTabContent>
					<br>
					<h2>Using Rage</h2>
					<p>
						Rage points are spent at the beginning of a turn, in the 
						declaration stage. You can spend Rage only in times of stress.<br><br>
						A Garou can use Rage in the following ways:<br><br>
						<b>Frenzy:</b>
						 Frenzy is the violent outburst, the untamed 
						savagery, the animal instinct for blood and brutality that 
						lurks in the heart of every werewolf. Whenever a player 
						gets four or more successes on a Rage roll, the character 
						enters a frenzy.<br><br>
						<b>Extra Actions:</b>
						 A player can spend Rage to give 
						her character extra actions in a single turn. However, a 
						Garou cannot spend more Rage points for actions in a 
						turn than half of her permanent Rage rating.<br><br>
						<b>Changing Forms:</b>
						 A Player may spend a Rage point 
						for his character to change instantly to any form he desires, 
						without having to roll Stamina + Primal-Urge. <br><br>
						<b>Recovering from Stun:</b>
						 If a character loses more 
						health levels in one turn than his Stamina rating, he is 
						stunned and unable to act in the next turn. By spending 
						a Rage point, the werewolf can ignore the effect and 
						function normally. <br><br>
						<b>Remaining Active:</b>
						 If a character falls below the Incapacitated 
						health level, a player can use Rage to keep her character going. Doing 
						so requires a Rage roll (difficulty 8). Each success heals a health 
						level, regardless of the type of wound. A player may attempt this roll 
						only once per scene. If this roll fails, the character doesn’t recover.
						However, this last-ditch survival effort has its price. Like all 
						Rage rolls, the character is still subject to frenzy. The wound will 
						also remain on the Garou’s body as an appropriate Battle Scar.<br><br>
						<b>Beast Within:</b>
						 Occasionally, a Garou is more a snarling monster 
						than man or beast, and she must pay the price for it. For every point 
						of Rage a character has above her Willpower rating, she loses one 
						die on all social-interaction rolls. People, even other werewolves, 
						can sense the killer hiding just under her skin, and they don’t want 
						to be anywhere near it.<br><br>
						<b>Losing the Wolf:</b>
						 If a character has lost or spent all his Rage 
						and Willpower points, he has “lost the wolf,” and he cannot regain 
						Rage. The Garou cannot shift to anything except his breed form until 
						his Rage returns. The character must regain at least one Willpower 
						point before he can recover any Rage.<br><br>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Gaining Rage">
				<ng-template ngbTabContent>
					<br>
					<h2>Gaining and Regaining Rage</h2>
					<p>
						The Rage pool fluctuates from session to session and from turn 
						to turn. Rage replenishes itself in several ways.<br><br>
						<b>The Moon:</b>
						 The first time a werewolf sees the moon at night, 
						the Beast inside stirs, and Rage floods back into her. Under a new 
						moon, the character gets one point; under a waning moon, two 
						points; under a half or waxing moon, three points; and under a full 
						moon, four points. If the moon phase corresponds with the character’s 
						auspice, she regains all of her Rage. This phenomenon only occurs 
						when the character first sees the moon each night.<br><br>
						<b>Botch:</b>
						 If the Storyteller approves, a werewolf might receive a 
						Rage point after a botched a roll. Rage comes from stressful situations, 
						and seeing the action you were attempting blow up in your face, 
						sometimes literally, can be a very stressful situation.<br><br>
						<b>Humiliation:</b>
						 Rage will also come rushing back if anything a 
						Garou does proves particularly humiliating. The Storyteller decides 
						whether a situation is embarrassing enough to warrant a Rage point. 
						Garou tend to be very proud, and they don’t take being laughed at well.<br><br>
						<b>Confrontation:</b>
						 Again at the Storyteller’s approval, a character 
						could receive a Rage point at the beginning of a tense situation, in 
						the moments right before combat starts. This gain accounts for the 
						anticipation and hackle-raising that happens just as tempers start to flare.<br><br>
						<b>New Stories:</b>
						When a new story begins, each player should 
						roll a die to determine how many Rage points he possesses currently. 
						(They might even exceed their permanent Rage ratings, at the 
						Storyteller’s discretion.) Yes, characters might end up with less Rage 
						than they had at the end of the last story. Such is the way of Rage. 
						It is always moving and never predictable.
						The player is encouraged to explain this increase or decrease in 
						Rage by describing what happened between sessions. If they come 
						up with some creative tales, Storytellers can be a little more giving 
						with the Rage as the new story progresses.<br><br>
					</p>
					<br>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>