<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
			<h1>Breeds</h1>
			<p> Werewolves are wolf, human, and spirit melded into 
				one. But they have to come from somewhere. A werewolf ’s breed is a function of immediate parentage, never 
				perfectly balanced, always slightly askew. Each Garou’s 
				breed is determined by his or her mother’s natural form. 
				Homids are born to human or homid Garou mothers; 
				lupus are born to wolves or lupus Garou. Only metis, the 
				children of Garou-Garou pairings, are born in a different 
				breed form than their mother’s. The father still contributes 
				some genetics to the child, but affects breed only if he’s 
				a werewolf as well. A female lupus Garou who takes on 
				human form and mates with a human man will bear wolf 
				cubs or, perhaps, a lupus cub or two. 
			</p>
			<p>
				Female werewolves who bear offspring always wear their 
				breed form when giving birth. The only exceptions to this 
				rule are those pregnant with metis; they give birth in Crinos 
				for the sake of survival. Werewolves can be born without a 
				werewolf parent as well. Some come from Kinfolk lines with 
				no immediate Garou parentage. Every so often, a werewolf 
				child is born to an ordinary human or wolf mother who 
				may be many generations removed from werewolf and Kin. 
			</p>
			<p>
				Each breed has its own strengths and weaknesses, and 
				each group has a slightly different connection to Gaia. 
				Lupus have a stronger connection to the wild. Homids have 
				the experience and talent to move in human society. Even 
				metis, despite their flaws, have remarkable advantages 
				thanks to having their natural form be Crinos war-form. 
				Breed should inform your character both with interesting mechanics and inspiring possibilities for a backstory.
			</p>
			<ngb-tabset>
				<ngb-tab title="Homid">
					<ng-template ngbTabContent>
						<br>
						<h2>Homid</h2>
						<p>
							Your mother was human, Kin or not, or a homid 
							Garou. You grew up among humans and learned how to 
							live in their society. Yet something always set you apart. 
							Other kids reacted unconsciously to the predator within 
							you, and to the vicious temper that you couldn’t always 
							keep under control. Strange dreams marked your childhood, and as you grew you remembered more and more of 
							them — dreams of the moon, of the taste of blood, of the 
							smell of war. Maybe they found you before your Change, 
							maybe after, but now there’s no going back. You are what 
							you are — you’re as much wolf as human now.
						</p>
						<p>
							Homid characters have no limits on what Abilities 
							they may purchase during character creation. They have 
							plenty of experience with the abstract thought that’s newer 
							to their lupus cousins, and they usually grow up surrounded 
							by human technology. No werewolf is better able to deal 
							with the many peculiarities of human society. In their breed 
							form, homids can also handle silver with no Gnosis penalty.
						</p>
						<p>
							The human-born advantages at navigating human 
							society are balanced against weaker connections with the 
							wolf and spirit portions of their nature. Homids are generally 
							less intuitive and perceptive than lupus or metis. They’re 
							likely to rely on what they see and hear, rather than what 
							they feel. Moreover, their innate spiritual connections 
							are weaker, as represented by their low starting Gnosis. 
							Humanity has simply grown apart from the spirit world. 
						</p>
						<br>
						<br>
							<h5>Nicknames:</h5> Apes, Two-Legs, Monkeys
							<br>
							<br>
							<h5>Initial Gnosis:</h5>  1
							<br>
							<br>
							<h5>Beginning Gifts:</h5>Apecraft’s Blessings, City Running, Master of Fire, Persuasion, Smell of Man
						<br>
						<br>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Metis">
					<ng-template ngbTabContent>
						<br>
						<h2>Metis</h2>
						<p>
							Born to two werewolves who broke the Litany for love 
							or lust, you were a child that shouldn’t have been — but 
							one raised among the Garou anyway. You endured a hard, 
							thankless life, stemming both from the deformity that is 
							your birthright and your place at the bottom of the social 
							ladder. Many other Garou pointed to your deformity as a 
							sign that you, like all other metis, are a living affront to 
							Gaia — others said it’s a likely side effect of the over concentration of already powerful werewolf blood. Whatever the case, you’ve survived from a hard birth, through years 
							of living only in your Crinos body (the natural form of a 
							metis), to finally undergo your First Change. Whether your 
							parents raised you — as an outcast among the sept — or 
							long-suffering but devoted Kinfolk did, you’re now ready 
							to take your place in the sept. Unlike homids, you have 
							a lot of knowledge about werewolf society already — the 
							nobility, the brutality, the wisdom, the spite. 
						</p>
						<p>
							Metis characters have no restrictions on Abilities. Like 
							homids, they have early experience with abstract thought, 
							and are often introduced to technology, education, and 
							other human creations early on as part of being raised at 
							the sept. But like their wolf relatives, the metis also have 
							a strong connection to their animal nature. They have 
							the strengths of both sides to some degree.
						</p>
						<p>
							On the other hand, all metis bear the mark of deformity. To attempt to hide this shame is considered 
							dishonorable; to wear it openly is to attract the contempt 
							of many other werewolves. Another flaw of this breed is 
							that all metis are sterile; none can sire or bear children. 
							It’s faintly ironic that Garou/Garou pairings are the only 
							matings that invariably produce werewolf offspring — and 
							yet they are no way to ensure the future of the People.
						</p>
						<br>
						<br>
							<h5>Nicknames:</h5> Mules, Bastards, Obscenities
							<br>
							<br>
							<h5>Initial Gnosis:</h5>  3
							<br>
							<br>
							<h5>Beginning Gifts:</h5> Create Element, Primal Anger, Rat Head, Sense Wyrm, Shed
						<hr>
						<p>
							<b>Deformities:</b>
							Every metis character has at least one 
							deformity, chosen during character creation. While some 
							deformities may have minor benefits, the bad always outweighs the good. Storytellers should encourage players to 
							choose defects that complement their character concept. 
							Some possibilities for metis deformities include:
						</p>
						<br>
						<p>
							<b>Albino:</b><br>
							You have no melanin in your body, in any form. Your 
							skin is faintly pink, and it burns easily. Your hair is stark 
							white (not silver) and your eyes are pinkish to blood red. 
							Take a +2 difficulty penalty on all Perception rolls if you’re 
							trying to operate in bright light without your protective 
							clothing or sunglasses.<br><br>
							<b>Blind:</b><br>
							Whether you have two eyes in the right place that don’t 
							work, or no eyes at all, you are totally blind. You fail any 
							rolls involving vision automatically. At the Storyteller’s 
							discretion, though, you may take occasional bonuses with 
							other sense groups.<br><br>
							<b>Fits of Madness:</b><br>
							Mental illness plagues you on a periodic basis. Whatever your malaise, you tend to fall to pieces when you 
							get stressed. The Storyteller may call on you to make a 
							Willpower roll (difficulty 8) whenever situations get tough. 
							Scoring fewer than three successes means that you become 
							non-functional for a period of time, losing your lucidity.<br><br>
							<b>Hairless:</b><br>
							You have no hair or fur in any of your forms. Take 
							a +1 difficulty penalty to all Social rolls. You might be 
							able to avoid this penalty among humans when you’re in 
							Homid form, although some people may be put off by your 
							complete lack of hair even then — you don’t have body 
							hair where it’d be expected, not even eyebrows.<br><br>
							<b>Horns:</b><br>
							You have a pair of horns in every form. They may be 
							like those of a ram or goat, or like a small pair of antelope-
							like antlers. You might even have a single short horn like 
							a unicorn’s. Whatever the form, you suffer a +1 difficulty 
							penalty to all Social rolls, and you are likely to be even 
							more heavily scorned by your fellow Garou. (Horns are a 
							mark of prey, not of a predator, after all.) If you actually 
							try to attack with your horns (which may do Strength +1 
							bashing damage at best), you will likely lose some amount 
							of Glory Renown for fighting like a prey animal instead of 
							a Garou. Passing as a human is particularly difficult for you.<br><br>
							<b>Hunchback:</b><br>
							You were born with a front-to-back or side-to-side 
							curve of your spine that’s worsened as you’ve aged. It gives 
							you a negative social stigma (+1 difficulty penalty to Social 
							rolls), and it also impedes your movement, adding a +1 
							difficulty penalty to all Dexterity-based rolls.<br><br>
							<b>No Sense of Smell:</b><br>
							Your sense of smell is nonexistent, even in Lupus form. 
							You fail all Perception rolls involving smell automatically, 
							and you suffer a +2 difficulty penalty to track prey using 
							your Primal-Urge.<br><br>
							<b>No Tail:</b><br>
							Not having a tail creates serious communication 
							problems with others of your kind. You take a +1 difficulty 
							penalty in all social situations while in Lupus, Hispo or 
							Crinos forms. In addition, your sense of balance suffers. 
							You take a +1 difficulty penalty to Dexterity rolls as well 
							while wearing those forms.<br><br>
							<b>Seizures:</b><br>
							When you’re under the gun, you lose control of your 
							body. When you botch an important roll, make a Willpower 
							check (difficulty 8). Scoring less than three successes 
							makes you writhe uncontrollably until the Storyteller 
							tells you to make another roll. You can take no actions 
							while experiencing a seizure.<br><br>
							<b>Tough Hide:</b>
							Your skin is tough as old leather, and considerably 
							less attractive. You have no coat to speak of, merely a few 
							patches of fur here and there across your wrinkled, dry 
							hide. Your Appearance can never be greater than 1, and 
							unbearable itching and hot spots are constant aggravations. On the positive side, you get an extra die on soak 
							rolls, but it’s only a small advantage to weigh against your 
							smelly, scratchy hide.<br><br>
							<b>Wasting Disease:</b><br>
							Your constitution is notably weak. You cough and 
							wheeze, and have extreme difficulty with the long-term 
							hunts and endurance runs where humans, wolves, and 
							Garou normally excel. Take a +2 difficulty penalty on all 
							Stamina rolls, including soak rolls.<br><br>
							<b>Weak Immune System:</b><br>
							Werewolves are normally very resistant, even immune, 
							to ordinary disease. You lack that level of supernatural 
							constitution, and in fact are more vulnerable to ailments 
							than most humans are. Because of your condition, you 
							have no Bruised health level. When marking damage, 
							begin at the Hurt level.<br><br>
							<b>Withered Limb</b><br>
							You have four limbs, but the muscles of one are atrophied, leaving it withered or paralyzed. Depending on 
							your form, you can’t walk well, and you run more slowly 
							than other werewolves. You incur a +2 difficulty penalty 
							on all Dexterity rolls when trying to use this limb.
						</p>
						<br>
						<br>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Lupus">
					<ng-template ngbTabContent>
						<br>
						<h2>Lupus</h2>
						<p>
							None are closer to nature and the hidden face of Gaia 
							than you are. You were born a precocious pup, already showing remarkable intelligence above that of your siblings. 
							When the Change overcame you, and you discovered 
							your true nature, the world itself became something you 
							had never expected.
						</p>
						<p>
							Lupus are quite capable of abstract thought, but much 
							of their experience with the concepts governed by such 
							thought comes after the First Change. They pick up the 
							basics of Garou speech very quickly, and the basics of 
							human languages with surprising speed, but the small nuances and connotations frequently elude them. They are 
							accustomed to the socialization of a pack, not of a greater 
							society — which can be particularly problematic if they 
							were raised in a traditional wolf pack, which is more of a 
							nuclear family than anything else. 
						</p>
						<p>
							The advantages of the lupus are several — many of 
							them spiritual. The wolf-born lack the spiritual disconnection that the homids have gradually developed, and 
							they are also free of the spiritual “static” that comes with 
							the blood of the metis. They have a knack for mastering 
							the animistic rituals of the Garou, as they are closer to 
							“spirit logic” than the more educated reasoning of humankind. Some of this is reflected in their high starting 
							Gnosis. However, lupus characters have little opportunity 
							to learn many useful skills before their First Change, and 
							are therefore limited during character creation regarding 
							the Abilities they can purchase.
						</p>
						<br>
						<br>
							<h5>Nicknames:</h5> <p>Ferals, Four-Legs, Fleabiters </p>
							<br>
							<br>
							<h5>Initial Gnosis:</h5>  <p>5</p>
							<br>
							<br>
							<h5>Beginning Gifts:</h5>  <p>Hare’s Leap, Heightened Senses, Predator’s Arsenal, Prey Mind, Sense Prey</p>
							<br>
							<br>
							<h5>Restricted Abilities:</h5> 
								<p>Beginning lupus characters 
								cannot take the following Skills and Knowledges with 
								their initial dots. You may, however, use freebie points 
								to purchase them, perhaps as a result of your character’s 
								prelude. Similarly, you can use experience points to add 
								these Abilities as a result of training or “life experience” 
								in the course of the chronicle.</p>
							<br>
							<br>
							<h5>Restricted Skills:</h5> <p>Crafts, Drive, Etiquette, Firearms, Larceny</p>
							<br>
							<br>
							<h5>Restricted Knowledges:</h5> <p>Academics, Computer, Law, Science, Technology</p>
						<br>
						<br>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
