<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<br>
		<h1>Renown</h1>
		<br>
		<ngb-tabset>
			<ngb-tab title="Renown">
				<ng-template ngbTabContent>
					<br>
		<p>
			Renown is a set of Traits that measures how well a 
			character is living up to his expected role in Garou society. 
			It’s this reason that connects Renown so closely with 
			auspices. Unlike experience points, a character’s Renown 
			reflects her standing among the Garou as a result of her 
			deeds and actions — a character can rack up plenty of 
			experience for his actions, but if he does not perform the 
			duties expected of his auspice, his Renown will not increase.
		</p>
		<p>
			A character’s Rank is tied to his Renown. As such, 
			those with low Renown are expected to respect and defer 
			to werewolves of higher Rank. Some Garou rail against this 
			system, but that’s a fast track to losing even more Renown.
		</p>
		<p>
			The Garou measure Renown in three separate areas: 
			Glory, Honor, and Wisdom. Each one is somewhat self explanatory. Glory represents a character’s physical deeds, 
			including feats of strength, stamina, and agility, such 
			as those that made Hercules a legend. It also measures 
			bravery, a willingness to take extreme risks (at least, 
			extreme risks that pay off) and victory in battle. Honor 
			measures a Garou’s sense of duty and history. It speaks of 
			the character’s ethics and morals, as well as his personal 
			sense of pride. Finally, Wisdom celebrates the more mental 
			virtues of a character, including strategy, cunning and 
			insight. Patience and a strong connection to the spirit 
			world also help a Garou increase his Wisdom.
		</p>
		<p>
			Characters record Renown in two forms. The dots 
			represent the character’s permanent Renown rating, while 
			the squares denote a character’s pool of temporary Renown 
			points. Renown differs from other Traits that have both 
			permanent and temporary ratings, in that a character starts 
			with no points of temporary Renown, and temporary Renown 
			is allowed to exceed the Renown rating. Permanent Renown 
			changes rarely (only normally due to a Punishment Rite or 
			a Rite of Accomplishment), while temporary Renown is 
			always in flux, and can shift several times in one session.
		</p>
		<p>
			Once a Garou has gained enough points of permanent 
			Renown, she increases in Rank.
		</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Beginning Renown">
				<ng-template ngbTabContent>
					<br>
					<h2>Beginning Renown</h2>
					<p>
						All new characters start play with three permanent 
						dots in Renown, which are distributed according to 
						her auspice . She earns 
						this Renown as part of her Rite of Passage, and if the 
						Storyteller intends the pack to play through the rite, 
						players shouldn’t assign these dots until the rite is 
						completed. Starting Garou begin the game at Rank 1.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Glory">
				<ng-template ngbTabContent>
					<br>
					<h2>Glory</h2>
					<p>
						Many Garou earn Glory through defeating mighty 
						enemies and succeeding at dangerous quests. A werewolf 
						can earn Glory by fighting on through overwhelming 
						odds in order to triumph, but Glory is not the Renown 
						of a mere brawler. A werewolf must have a reason and a 
						cause to fight for, and though the odds are against her, she 
						must never surrender —regardless of the cost. Many young 
						Garou have their Glory stripped from them for leaping 
						into fights that they cannot hope to win; Glory only trucks 
						with stupidity when a character actually succeeds at the 
						impossible. That said, a grand death in service to a noble 
						ideal may give the deceased a large share of the Glory they 
						so desired in life — if anyone ever hears about it.
					</p>
					<br>
					<h4>Glory Creed</h4>
					<br>
					<p class="col-sm">
						I shall be valorous<br>
						I shall be dependable<br>
						I shall be generous<br>
						I shall protect the weak<br>
						I shall slay the Wyrm<br>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Honor">
				<ng-template ngbTabContent>
					<br>
					<h2>Honor</h2>
					<p>
						Garou earn Honor by following their moral imperative 
						to uphold the laws of the Garou. It refers to a fundamental 
						belief in the wisdom of their society’s laws, which all derive 
						from the ultimate standard of Garou behavior: the Litany. 
						To gain Honor Renown among Garou society shows an 
						individual to be of honesty, integrity, and respect. Honor 
						can be a rare trait, but werewolves who have it strive to 
						maintain their honor with ferocity for fear of losing it.
					</p>
					<p>
						Werewolves hold themselves to the highest possible 
						standards in the name of Honor. That’s not to say that 
						they feel superior to others — a Garou who looks down his 
						nose at his compatriots isn’t exactly behaving honorably 
						towards them. Those who tolerate a braggart will soon 
						surpass him. Instead, a werewolf holds himself to high 
						standards in the sometimes vain hope of staving off pride.
					</p>
					<p>
						Honor, after all, is all about self-control. Not 
						just the self-control that comes with upholding 
						strict principles when easier alternatives abound, 
						but the iron will to avoid falling into frenzy. When 
						berserk, a Garou is capable of all manner of evil 
						acts. More than a few newly-Changed Garou have 
						awakened after a frenzy to find themselves soaked 
						in blood and bereft of honor.
					</p>
					<br>
					<h4>Honor Creed</h4>
					<br>
					<p class="col-sm">
						I shall be respectful<br>
						I shall be loyal<br>
						I shall be just<br>
						I shall live by my word<br>
						I shall accept all fair challenges<br>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Wisdom">
				<ng-template ngbTabContent>
					<br>
					<h2>Wisdom</h2>
					<p>
						High Wisdom Renown is the mark of a 
						character who thinks through her words and 
						actions before sharing them, and is adept at 
						sensing when others have not done the same. As such, 
						werewolves with a reputation for Wisdom are likely to 
						find others listening and deferring to them at moots.
					</p>
					<p>
						The deeds of a wise werewolf rarely align with those 
						of a glorious one. Glory-seekers charge into battle 
						whenever they see a goal worth chasing, while those 
						who quest for Wisdom pick their fights carefully, to 
						ensure they have the greatest chance of victory. Both 
						werewolves have their uses to a pack, but those who 
						do not succeed on their quest for Wisdom are more 
						likely to survive to try again. Those werewolves who 
						are both wise and valorous know both when to fight 
						and how to win. It’s a fine balance to strike, but those 
						who manage it are valuable allies to all Garou.
					</p>
					<br>
					<h4>Wisdom Creed</h4>
					<br>
					<p class="col-sm">
						I shall be calm<br>
						I shall be prudent<br>
						I shall be merciful<br>
						I shall think before I act and listen before I think<br>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Rank">
				<ng-template ngbTabContent>
					<br>
					<h2>Rank</h2>
					<p>
						The Garou, like many societies that must fight for 
						their very survival, hold to a strict system of ranks. Among 
						the Garou, rank determines status and shows how much 
						respect a character deserves. As her rank increases, a 
						Garou demonstrates to her sept and to her tribe that 
						she is committed and trustworthy in the fight against 
						the Wyrm. She learns more of the secrets of her tribe 
						with each new rank, though other werewolves 
						have higher expectations for her behavior. Characters begin at Rank 1, and they increase in 
						rank by gaining Renown.
					</p>
					<br>
					<h4>Benefits of Rank</h4>
					<br>
					<p>
						Rank among the Garou has many privileges.<br>
						<b>Gifts:</b> When a Garou reaches a new rank, she can 
						petition spirits to learn new, more powerful Gifts. To learn 
						a new Gift, a character must not only have the required 
						experience points, but also the Rank equal to the level of the 
						Gift. A Garou cannot buy the respect of his peers and of the 
						spirit world with experience points. The most valuable and 
						powerful Gifts are thus reserved only for those werewolves 
						who have demonstrated great Glory, Honor, and Wisdom.<br>
						<b>Rights:</b> The Litany is quite clear: those of lower 
						station must defer to those higher. As a Garou increases 
						in rank, younger and lower-ranked Garou defer to her. 
						When a character has risen to Rank 3 or higher, werewolf 
						society at large has heard of her. Rank brings with it 
						responsibilities, as werewolves are expected to embark 
						on quests and missions to help the sept and tribe, guard 
						caerns from attack, and lead and look after those lower 
						in station — as the Litany requires.<br>
						<b>Challenges:</b>
						The legality of a challenge is governed 
						by Rank. A werewolf can only issue a challenge to another 
						who is one rank higher than the werewolf himself: a Rank 
						1 Garou can challenge a Rank 2 superior, but he cannot 
						challenge anyone of Rank 3 or 4.<br>
						<b>Self Control:</b>
 						Characters of high rank have shown 
						discipline, and have immersed themselves in the structure 
						of Garou society so much that they are less likely to frenzy. 
						The following chart shows the bonuses a character gains 
						as his rank rises.<br>
					</p>
					<hr>
					<div class="row">
						<div class="col-sm"><p><b>Rank</b></p></div><div class="col-sm"><p><b>Frenzy Bonus</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p><b>0</b></p></div><div class="col-sm"><p><b>---</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p><b>1</b></p></div><div class="col-sm"><p><b>---</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p><b>2</b></p></div><div class="col-sm"><p><b>---</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p><b>3</b></p></div><div class="col-sm"><p><b>+1 to frenzy difficulties</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p><b>4</b></p></div><div class="col-sm"><p><b>+2 to frenzy difficulties</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p><b>5</b></p></div><div class="col-sm"><p><b>+2 to frenzy difficulties, 5+ successes needed to frenzy</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p><b>6</b></p></div><div class="col-sm"><p><b>+2 to frenzy difficulties, 6+ successes needed to frenzy</b></p></div>
					</div>
					<br>
					<br>
					<br>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
