<div class="row">
	<div class="col">
			<h1>Combat/Damage types</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<ngb-tabset>
			<ngb-tab title="Combat Types">
				<ng-template ngbTabContent>
					<br>
					<h1>Combat Types</h1>
					<p>
						Werewolves kill things. And since most things don’t
						really enjoy being killed, there’s usually a fight involved
						before the prey’s near-inevitable demise. When Gaia’s
						protectors and predators enter combat, the following
						systems help resolve the fast and brutal results:

					</p>
					<hr >
					<h3>Close Combat:</h3>
					<p>
						This covers the Garou specialty: hand-
						to-hand fighting, either with weapons(Dexterity + Melee) 
						or naked fang-and-claw ferocity (Dexterity + Brawl).
					</p>
					<h3>Ranged Combat:</h3>
					<p>
						This deals with long-distance carnage (Dexterity + Firearms):
						guns, arrows, thrown objects and the like. Characters
						need a relatively clear line of sight in order to fight at
						range. If you can’t see it, you can’t usually hit it.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Damage Types">
				<ng-template ngbTabContent>
					<br>
					<h1>Damage Types</h1>
					<p>
						All attacks have specific damage ratings, indicating 
						the number of dice to roll for the attack’s damage called the damage dice pool.
					</p>
					<p>
						Some damage dice pools
						are based on the attacker’s Strength, while others are
						based on the weapon used. <b>Damage dice rolls are made
						versus difficulty 6.</b> Each success on the damage roll inflicts one health level of damage on the target. However, the damage applied may be one of three types:
					</p>
					<hr>
					<h3>Bashing damage:</h3>
					<p>
						Bashing damage comes from blunt-force trauma:
						fists, clubs, table legs, etc. Even normal humans heal this
						type of damage fairly quickly, and it rarely does anything
						but piss off a Garou. On a character sheet, bashing damage
						gets marked with a single slash (“/”) rather than an “X.”
					</p>
					<h3>Lethal damage:</h3>
					<p>
						Lethal damage comes courtesy of sharp-edged
						weapons, firearms, spiked clubs, barbed-wire garrotes,
						chainsaws, and so on. Most living things have a hard
						time healing lethal damage, but werewolves regenerate
						such injuries almost no time. Indicate this form of damage on your character sheet with an “X.”
					</p>
					<h3>Aggravated damage:</h3>
					<p>
						Aggravated damage reflects severe injury. Even
						werewolves suffer badly from such harm, which usually
						comes from supernatural attacks: Garou claws and teeth,
						vampire fangs, toxic waste, and some forms of fire. Silver
						inflicts aggravated damage against werewolves, too — a
						fact whose notoriety poses a constant threat to Garou. Aggravated damage takes a long time to heal, and although
						it can be soaked (except in Homid and the breed form), it cannot be regenerated — only healed by
						certain Gifts like Mother’s Touch. Indicate aggravated
						damage with an “*” on your character sheet.
					</p>
					<hr >
					<p>
						Damage dice pools can never be reduced to lower
						than one die; any attack that strikes its target has at
						least a small chance of inflicting damage before a soak
						roll is made. Moreover, damage effect rolls cannot
						botch; a botched roll simply means the attack glances
						harmlessly off the target.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Armor">
				<ng-template ngbTabContent>
					<br>
					<h1>Armor</h1>
					<p>
						Some combatants wear heavy protective gear. Others have thick hides,
						slimy skin, or other artificial or innate defenses. In game terms, it all works the
						same way: armor adds extra dice to a character’s soak roll.
						Certain types of armor also restrict movement, and thus
						inflict a penalty to the wearer’s Dexterity-related difficulties.
					</p>
					<p>
						For most non-Garou characters, armor
						dice (and only the armor dice) can
						soak lethal damage, and
						possibly (Storyteller’s
						discretion) aggravated damage, too.
						Armor may help a
						Garou soak certain
						kinds of silver damage,
						too.  It makes sense,
						after all, that a flak jacket could blunt the trauma from a
						werewolf’s claws or a silver bullet; it could not, however,
						stop fire or radiation.
					</p>
					<p>
						Armor is not indestructible. If the damage rolled in a single attack equals twice the armor’s rating, the armor is destroyed.
					</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>

	</div>
</div>