<div class="container">
	<div class="row">
		<h1 class="col-sm">Setting and Information</h1>
	</div>
	<img id="settingClaws" class="img-fluid settingAnkh" src="assets/WerewolfClaws_Glow.png" >
	<div class="row">
		<div class="col-sm">
			<p>
				The year is 2004. The world has changed dramatically as terrorists have attacked the very heart of the United States, followed by the War on Terror in the Middle East and increased government surveillance. The US is seeing an economic boom that looks like it will last forever, but it's mainly benefitting the corporations and leaving the people in the dust. This is an age of consistent technological innovation and everyone now owns a cell phone camera. As the Weaver asserts it's influence on the dying world, the Veil has never been as threatened as now.
			</p>
			<br>
					</div>
	</div>
			<ngb-tabset>
					<ngb-tab title="Basic Information">
						<ng-template ngbTabContent>
							<div class="row">
		<div class="col-sm">
			<br>
			<p>
				<b>Gameplay Information:</b> <br>
				Each player will have to update their character backstory to reflect 5 years of growth. <br>
				Each player gets 10 freebie points to represent growth during the past 5 years. These should be invested in a way that makes sense with the expanded backstory you give these characters for the past 5 years. We will distribute these together in the first session, but giving some thought to them beforehand never hurts.
				The start date of the game is June 2004.
			</p>
			<br>
			<p>
				<b>Story Information:</b><br>
				In the World of Darkness, a lot has happened as well during the past 5 years. The Stargazers have formally seceded from the Garou Nation to join the Beast Courts of Asia and the 13 tribes of the Garou are reduced to 12, weakening the unity in the fight for Gaia even more. In addition to this, the Perfect Metis is said to have been born somewhere among the Garou in these times, and it is believed to be the harbinger of the Apocalypse.
				Elders of the Garou has with the appearance of the Red Star on the sky had to concluded that the Sixth Sign of the Prophecy of the Phoenix has come to pass and that the seventh, and the final battle of the apocalypse, is surely nigh.
			</p>
			<br>
			<p>
				In the year 2001, the mysterious Kuei-Jin moved into Los Angeles to stake their domain, and with them came the Hengeyokai from Asia. Some setting up secret Caerns in Garou territory, further encroaching on the ancient order. In May of 2001, mortal scientists could finally see the Red Star, the Eye of the Wyrm with their own eyes.
			</p>
			<br>
			<p>
				In the following years, Black Spiral Dancer raids increase, the megacorporations expands their reach and their invasions of the natural world, and at the end of the year 2002, the Garou experience a prophecy that the elders of the Nation interpret to say that sometime soon, new Garou will stop being born. In this time when even demons have said to have arrived in the world, the Garou are more pressed than ever.
			</p>
			<br>
			<p>
				And if this was not enough, after 75% of the Hunters on the newly launched Hunter-Net was killed in under a year by supernatural causes, other organizations hunting the supernatural have started showing up. Staying hidden is harder than ever, even for the Garou.
			</p>
			<br>
			<p>
				In the beginning of the year 2004, A call goes out on both Glass Walker Net and among the spirits and Corax messengers of the Garou Nation that the Shadow Lords and the Silver Fangs are calling all warriors of the nation together to a concolation to decide on the next steps in the war against the Wyrm, in the name of the last Gaian king, Jonas Albrecht. The concolation will be held in half a year's time, after the celebration of midsummer. <br><br>

				Here, the future course of the Garou Nation will be decided.
			</p>
		</div>
	</div>
		</ng-template>
		</ngb-tab>
		<ngb-tab title="Vampire - Epilogue">
			<ng-template ngbTabContent>
				<div class="row">
		<div class="col-sm">
					<br>
					<p>
						Following that frenzied November night at Poe’s tower and the fight with the true cardinal, both the Camarilla and Sabbat of Miami were in shambles. With the cardinal dead, the Sabbat withdrew and ceased their recent offensives against the Camarilla for a time while they reorganized their ranks.
					</p>
					<br>
					<p>
						Now that Poe had met his final death at the hands of Angel, the Camarilla of Miami stood without a Prince. Initially, both Logan, Henry and surprisingly Logan’s secretary Victoria tried to make claim to the position, but in the end the ones who played the strongest game was the Tremere regent Jonathan Maximillian. He had contacted his old sire Maximillian Strauss of the Tremere Chantry in Los Angeles and received a few more neonates, making the Tremere clan in Miami by far stronger than the other clans. As they had the backing of the Nosferatu as well due to sheltering them from the Sabbat, there was really no contest. The ventrues had to give up in the end and Jonathan became the next Prince of Miami.
					</p>
					<br>
					<p>
						Having lost his bid for Prince, Henry instead started focusing on building his fledgling businesses. His initial “financial maneuvering” had been discovered by certain members of a multi-national megacorporation, but instead of revealing his fraud, they instead invested heavily in his new businesses as well as providing plenty of funds for Rosalie’s new club, “No Mercy”. 
					</p>
					<br>
					<p>
						Due to her efforts during the last couple of weeks and all the help provided to the Tremeres, Rosalie’s club was made a new Elysium by Jonathan after the destruction of Uprising. This gave Rosalie several new responsibilities as Keeper of Elysium, but it also gave her a core position among the kindred of Miami. Unfortunately, Jaxon had his final death that fateful night, but Rosalie somehow managed to get a hold of what remained of his art collection and used this to furnish her new club and apartment. Jonathan did not want to give Rosalie all the responsibilities of being a primogen just yet, and instead decided to give the position to Ashton, the only other remaining Toreador in the city. 
					</p>
					<br>
					<p>
						John Franklin disappeared from the streets of Miami for a while, delving into the arcane mysteries of the Tremere clan like never before. He spent the next nights learning everything he could about Thaumaturgy, but still occasionally did small tasks for Jonathan with his coterie.  
					</p>
					<br>
					<p>
						Travis had lost his friend Ermer before, and now while his life was saved, he would never be the same as he had once been. After  having been a prisoner of the Sabbat and endured that vicious car chase, Ermer’s mind was in tatters and unfortunately for Travis, the medical professionals as well as Ermer’s family decided that he should probably come home to Kentucky to get treatment. This left Travis alone, walking the streets of Miami and drinking the blood of inebriated people in order to drown his sorrows in alcohol. One of these nights, at the Death Match bar, he encountered a smoking hot chick whom he ended up buying a drink. She introduced him to a new line of work suited to his particular talents, as an assassin. 
					</p>
					<br>
					<p>
						He was still roped into doing work for the Camarilla at times, and Jonathan found him a useful person to have around, though slighly difficult to control. In that sense, he was a bit like his sire Richard.
					</p>
					<br>
					<p>
						This was how the final months of 1998 ended for the Camarilla of Miami, and the year 1999 began. Gehenna creeping ever closer...
					</p>
					</div>
	</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Werewolf: Everglades - Setting Information">
			<ng-template ngbTabContent>
				<div class="row">
		<div class="col-sm">
			<img id="werewolfLogo" class="clearfix img-fluid" src="assets/Logo_Everglades.svg">
					<br>
					<p>
				The year is 1999 - The End Times. Fighting has resumed in the Kosovo civil war, Europe agrees on a single currency called the euro, India conducts three atomic tests despite worldwide disapproval while Pakistan stages five tests in response to the aggressions. Miami gets wracked by a bloody drug war.
			</p>
			<br>
			<p>
				This is the world you currently live in, a world on the brink of collapse facing the turn of the millennium. Who is reponsible for this degradation?<br>
				Well, there are those who are more responsible than others. Megacorporations rape the earth in their endless chase for profits and nations arm themselves with weapons that can potentially destroy the planet several times over. 
			</p>
			<br>
			<p>
				Does anyone in this world care enough to fight the coming apocalypse?
			</p>
			<p>
				The game begins in the early to middle January of 1999, right at the beginning of the year. The setting will be in and around Miami and it's surrounding areas however your characters can come from anywhere in the world and start the game wherever you want.
			</p>
			<p>
				You will play werewolves who have yet to experience their first change. Most likely at a young age as while the change can occur at any point in a person or wolf's life, it most often occurs during late teens or young adulthood. Whether you have basic knowledge about werewolves, are raised in families of kinfolk or are completely clueless about your heritage is up to you. If you are born a metis ( a child of two werewolves ), you might however possess more knowledge about werewolf society at the cost of being shunned by the rest of the werewolves. 
			</p>
			<br>
			<p>
				The first session will be spent creating our characters and having a prelude session explaining the basic circumstances of your lives as well as the time leading up to your first change. What you need to have beforehand is a clear character concept ( personality, background and looks ) as well as an idea of what breed, auspice and tribe you want your werewolf to belong to. You should also consider whether the first change into a werewolf has a considerable impact on your character.
			</p>
			<br>
			<p>
				Use the information on this website to create a character that you want to play, and have fun. 
			</p>
			<p>
				For you are the children of Luna. 
			</p>
			<br>
					</div>
	</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Werewolf: Everglades - Epilogue">
			<ng-template ngbTabContent>
				<div class="row">
		<div class="col-sm">
					<br>
					<p>
						After our escape on the moon bridge, we headed west towards the Sept of the Western Eye. Butch's grandfather was relieved that we had all managed to get away safely, and that Butch had also managed to best Arthur, whom we had by now all learnt was a traitor the entire time. After this night, the red star, Anthelios had become visible in the sky even outside of the Umbra and it now hangs above us as an ominous reminder of the upcoming apocalypse. It seems not to have been noticed by humans yet, though.
					</p>
					<br>
					<p>
						We didn't see Hvitr again since that night. He crept away with the cub during the night, and I don't know if we'll ever see him again. He was later declared a ronin, an exile of the Garou nation, but knowing him, he'll make it just fine on his own. Rumours of him being a traitor and fallen to the wyrm eventually started spreading. It might have originated from those Corax we met...
					</p>
					<br>
					<p>
						While I'd like to say we were greeted with open arms, that is not exactly what happened. At all the caerns we stopped on our way west, Kiera was suspected of being a minion of the Wyrm due to her recent encounters with Balefire. It took all the persuasiveness we could muster, not to be chased out and hunted. When we finally arrived at the sept of the Western Eye, we were met with very harsh treatment and suspicion, however it wore off with time as the wyrmtaint started to dissipate and as we proved ourselves to the sept. Art was also incredibly helpful in convincing the sept of our innocence and explaining the situation. I hope to one day be as skilled a Galliard as him.
					</p>
					<br>
					<p>
						We made sure to report what had happened in Florida, and the Uktena in the sept decided to send a pack down there to get control of the situation and man the caerns. We later heard that the remaining Garou in the Everglades had banded together under Nikola Flame-Claw to protect the Caern of the Blue Flame that we'd helped create with Seeks-In-Darkness after the army stopped searching there. It seems they reported on several strange bear sightings in the Everglades, but did not discover anything out of the ordinary at the caern site itself. The other Uktena took over the Caern of the Sunrise Birds and the situation seems to have stabilized there.
						
						Though it didn't take long for the Black Spiral Dancers to retake their hive near the city and start harassing them once more.
					</p>
					<br>
					<p>
						The next months after our arrival at the sept, we learned that King Albrecht had succeeded in rooting out and destroying most of the wyrmcult called the Seventh Generation. We also eventually got the word that the Stargazer tribe was intending to leave the Garou Nation and join the Beast Courts of Asia instead. 
						Following this, the elders of the Garou Nation finally admitted that the Sixth Sign of the Prophecy of the Phoenix has come to pass, and that the Seventh is soon to come. We are surely moving ever closer to the final battle of the Apocalypse. 
					</p>
					<br>
					<p>
						I later heard that Naomi had used the money she escaped with to help found a Glass Walker mercenary group called 'Dies Ultima' to battle the apocalypse, and that they even allow kinfolk to join their ranks. Speaking of which, Emma, the Glass Walker kinfolk girl that Christopher had trained for a while got away from the ordeal with the fear. It seems she didn't suffer any permanent damage or trauma, thank Gaia. The Glass Walkers also managed to retake their caern in Miami, and thanks to the protection of Cockroach, it was still not corrupted by wyrmish influence. 
					</p>
					<br>
					<p>
						After staying at the Sept of the Western Eye for a while, I said my goodbyes to the pack and left to join my tribe and to study their ways. It was sad to part with them after so long, but I know that if I don't grow, I will never be able to keep up. I will find my own way, and when I meet them again, I will have a name that I can be proud of. 
					</p>
					</div>
	</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
	
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
</div>