<div class="container">
	<div class="row">
		<h1 class="col-sm">Setting and Information</h1>
	</div>
	<img id="settingClaws" class="img-fluid settingAnkh" src="assets/WerewolfClaws_Glow.png" >
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
</div>