<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<h1>Health</h1>
			<p>
				Whether inflicted by a bullet, a speeding car, or the
				claws of a werewolf, a character’s injuries are represented
				the same way in Werewolf: the Health Trait, comprising seven health levels. Although werewolves heal very
				quickly, overwhelming injuries can incapacitate them
				or even kill them. The last level marked indicates the
				character’s current health.
			</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<ngb-tabset>
			<ngb-tab title="About Health">
				<ng-template ngbTabContent>
					<br>
					<h1>Health Chart</h1>
					<p>
						Every character has seven health levels, ranging from
						Bruised to Incapacitated. A character with no health
						levels checked off is in full health, while the level after
						incapacitated indicates that the character is dead.
					</p>
					<p>
						When an attacker scores a success on
						a damage roll, your character takes one health level of
						damage. This is marked on your character sheet in the
						appropriate box, although the mark you make depends
						on the type of damage inflicted. See applying damage.
					</p>
					<p>
						As your character
						gets more and more battered, it’s increasingly difficult
						for him to perform even the simplest of tasks. The dice
						penalty is subtracted from your dice pool for every ac-
						tion (except reflexive actions such as soak) until the
						wound heals. The penalty also indicates impaired movement.
					</p>
					<hr>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Health Levels">
				<ng-template ngbTabContent>
					<br>
					<h1>Health Levels</h1>
					<p>
						The Health chart on the character sheet helps you
						track your character’s current physical condition. It also
						lists the penalty imposed on your dice pool for each level
						of injury that your character sustains. As your character
						suffers more injuries, her health declines, until she becomes
						incapacitated or dies.
					</p>
					<hr>
					<div class="row">
						<div class="col-sm"><p><b>Health Level</b></p></div>
						<div class="col-sm"><p><b>Dice Pool Penalty</b></p></div>
						<div class="col-sm"><p><b>Movement Penalty</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Bruised</p></div>
						<div class="col-sm"><p>0</p></div>
						<div class="col-sm"><p>Character is only bruised and suffers no dice pool penalties due to damage.</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Hurt</p></div>
						<div class="col-sm"><p>-1</p></div>
						<div class="col-sm"><p>Character is superficially hurt and suffers no movement hindrance.</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Injured</p></div>
						<div class="col-sm"><p>-1</p></div>
						<div class="col-sm"><p>Character suffers minor injuries and movement is mildly inhibited (halve maximum running speed).</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Wounded</p></div>
						<div class="col-sm"><p>-2</p></div>
						<div class="col-sm"><p>Character suffers significant damage and may not run (though he may still walk). Character can only move or attack; he always loses dice when moving and attacking in the same turn.</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Mauled</p></div>
						<div class="col-sm"><p>-2</p></div>
						<div class="col-sm"><p>Character is badly injured and may only hobble about (three yards/meters per turn).</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Crippled</p></div>
						<div class="col-sm"><p>-5</p></div>
						<div class="col-sm"><p>Character is catastrophically injured and may only crawl (one yard/meter per turn).</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Incapacitated</p></div>
						<div class="col-sm"><p>&nbsp;</p></div>
						<div class="col-sm"><p>Character is incapable of movement and is likely unconscious. A character who takes any more damage at this level dies.</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Dead</p></div>
						<div class="col-sm"><p>&nbsp;</p></div>
						<div class="col-sm"><p>Character is dead. His pack and sept will mourn him, but he is with the ancestors now.</p></div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Applying Damage">
				<ng-template ngbTabContent>
					<br>
					<h1>Applying Damage</h1>
					<p>
						This is where you apply bashing, leathal and aggravated damage. Below is the same chart you have on your character sheet.
					</p>
					<p>
						Bashing damage represents forms of injury that are
						unlikely to kill instantly, and that fade quickly — compared to gunshot wounds, at least. Most unarmed combat
						moves — punches, kicks, tackles, and clinches — deal
						bashing damage. Even humans heal bashing damage at a
						reasonable rate, recovering from such injuries in a matter
						of hours. Garou, by contrast, shrug off such injuries in
						seconds, though large amounts of bashing damage can be
						enough trauma to knock a werewolf out, or even kill her.
						Humans can soak bashing damage with their Stamina,
						as can Garou.
						If your character falls to Incapacitated from bashing
						damage, she falls unconscious but remains in whatever form
						she was in. Any additional bashing damage “upgrades” an
						existing bashing wound to lethal damage. If this additional
						damage upgrades her Incapacitated health level to lethal
						damage, she reverts to breed form and may use Rage to
						remain active (see below). Once she’s Incapacitated with
						lethal damage, another level of bashing damage kills her.
					</p>
					<p>
						Lethal damage includes any form of trauma that
						would lead to a hospital stay for a human being — from
						gunshot damage to knife-wounds. While a werewolf can
						regenerate lethal wounds just as easily as bashing dam-
						age, other creatures are not so lucky. At the Storyteller’s
						discretion, attacks that would otherwise cause bashing
						damage can cause lethal damage when aimed at a vital
						body part such as a kidney or an eye, though such areas
						are difficulty 8 or 9 to target.
						Humans cannot soak lethal damage at all. Garou and
						other shapeshifters can soak lethal damage with Stamina
						in any form except their breed form. Some fomori may
						be able to soak lethal damage, as can vampires and other
						monsters that lurk in the night, though that varies depending on the twisted creature’s specific abilities.
						If your character falls to Incapacitated from lethal
						damage, she can channel her Rage to remain active.
						If she doesn’t, she falls unconscious and reverts to her
						breed form. She remains unconscious and regenerates
						that health level after an eight-hour period. If she takes
						a level of lethal damage when at Incapacitated, she dies.
					</p>

					<hr>
					<p>
						 Bashing damage is recorded as a slash <b>[/]</b>
					</p>
					<p>
						Lethal damage is marked with an <b>[X]</b>
					</p>
					<p>
						Aggravated damage is marked with an asterisk <b>[*]</b>
					</p>
					<hr>
					<p>
						Aggravated damage comes from attacks that go
						against a werewolf’s nature. All silver weapons, not just
						bullets, deal aggravated damage to werewolves, but not to
						humans. Fire, some Wyrm-tainted poisons, and the teeth
						and claws of werewolves and other supernatural creatures
						all deal aggravated damage.
						Humans can’t soak aggravated damage. Werewolves
						can soak aggravated damage with Stamina in any form
						except their breed form, with the exception of damage
						from silver. Garou cannot regenerate aggravated damage.
					</p>
					<p>
						If your character falls to Incapacitated from aggravated
						damage, she has one chance: she can channel her Rage to
						remain active. If she doesn’t succeed, she dies.
					</p>
					<p>
						The aggravated level is then noted by simply drawing
						another line through the "Bruised" box, turning it into “*.” instead of the original "X".
					</p>
					<p>
						The same applies for bashing and lethal damage. If you have a box with bashing, and you get damaged with lethal damage, you "move" the bashing damage down to the box below, and make the previous bashing damage into an X.
					</p>
					<h4>Silver Weapons</h4>
					<p>
						Damage dealt from a silver weapon is handled
						slightly differently to other sources of damage.
						If a homid or lupus werewolf is in her breed form,
						an attack with a silver weapon does nothing special.
						It causes bashing or lethal damage as appropriate and
						can be soaked as normal — that the weapon is silver
						does not factor in to the damage.
						In any other form, a werewolf cannot soak damage
						from silver without a Gift or fetish, and the damage taken
						is aggravated. A successful attack always deals one point of
						damage, even if the attacker rolled no successes for damage.
						Metis do not have safety of a breed form to shield
						them from the ravages of silver. They take unsoakable
						aggravated damage from silver in any form.
					</p>
					<hr>
					<h4>Health</h4>
					<p>At this point the character is injured and has a -1 penalty and her speed is reduced by half. Regardless whether the last damage is bashing or not. If your chart is filled with bashing damage, you go into torpor.</p>
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm"><p><b>Bruised</b></p></div>
								<div class="col-sm"><p><b>&nbsp;</b></p></div>
								<div class="col-sm"><p><b>[*]</b></p></div>
							</div>
							<div class="row">
								<div class="col-sm"><p><b>Hurt</b></p></div>
								<div class="col-sm"><p><b>-1</b></p></div>
								<div class="col-sm"><p><b>[X]</b></p></div>
							</div>
							<div class="row">
								<div class="col-sm"><p><b>Injured</b></p></div>
								<div class="col-sm"><p><b>-1</b></p></div>
								<div class="col-sm"><p><b>[/]</b></p></div>
							</div>
							<div class="row">
								<div class="col-sm"><p><b>Wounded</b></p></div>
								<div class="col-sm"><p><b>-2</b></p></div>
								<div class="col-sm"><p><b>[  ]</b></p></div>
							</div>
							<div class="row">
								<div class="col-sm"><p><b>Mauled</b></p></div>
								<div class="col-sm"><p><b>-2</b></p></div>
								<div class="col-sm"><p><b>[  ]</b></p></div>
							</div>
							<div class="row">
								<div class="col-sm"><p><b>Crippled</b></p></div>
								<div class="col-sm"><p><b>-5</b></p></div>
								<div class="col-sm"><p><b>[  ]</b></p></div>
							</div>
							<div class="row">
								<div class="col-sm"><p><b>Incapacitated</b></p></div>
								<div class="col-sm"><p><b>-1</b></p></div>
								<div class="col-sm"><p><b>[  ]</b></p></div>
							</div>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Healing Damage">
				<ng-template ngbTabContent>
					<br>
					<h1>Healing Damage</h1>
					<p>
						Werewolves heal at an incredible pace. A Garou
						regenerates her worst bashing or lethal health level every
						turn. Homid- and lupus-breed Garou can regenerate a
						health level each day while in their natural forms if they
						are in critical condition, but doing so doesn’t let them do
						much more than sleep. If they’re conscious and moving
						around in their breed form, they heal as humans do. Metis
						are blessed with full regeneration in every form.
					</p>
					<p>Regenerating damage when engaged in a stressful or
						physically intensive activity (like combat) is harder for
						a werewolf. The player must roll the Garou’s Stamina
						(difficulty 8) each turn. This roll is reflexive, so does not
						involve splitting a dice pool or spending Rage for multiple actions. Success means that the werewolf heals as
						normal. Failure means that he heals no damage. A botch
						indicates that the werewolf cannot regenerate until she’s
						had a chance to rest.
					</p>
					<hr>
					<h4>Aggravated damage</h4>
					<p>
						Garou cannot regenerate aggravated damage with
						anything like the same speed. A character heals one health
						level of aggravated damage each day, as long as she spends
						her time resting in a form that normally regenerates.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Remaining Active">
				<ng-template ngbTabContent>
					<br>
					<h1>Remaining Active</h1>
					<p>
						A critically injured werewolf can channel her Rage to
						save her life. It’s a risky proposition — if it succeeds, the
						werewolf is thrown into a wild frenzy. It’s sometimes the
						only way for a character to save her life, though.
					</p>
					<p>
						To remain active, the player rolls his character’s
						permanent Rage (difficulty 8). Each success heals one
						health level of any kind of damage. No matter how much
						damage is healed, the character enters a berserk frenzy.
					</p>
					<p>
						A character can only channel her Rage in this way
						once per scene. If she’s reduced to Incapacitated more
						than once in a single fight, she takes the worst effects of
						the damage.
						Although her Rage can remove an awful lot of damage, supercharging a werewolf’s incredible regeneration
						comes with some side effects. A werewolf gains a Battle
						Scar (p. 259) whenever she successfully remains active.
					</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>