<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<br>
		<h1>Willpower</h1>
		<br>
		<ngb-tabset>
			<ngb-tab title="Willpower">
				<ng-template ngbTabContent>
					<br>
					<p>
						Almost every creature in the World of Darkness 
						possesses Willpower. It is the strength hidden in each 
						individual to overcome his base urges and occasionally 
						push himself to greatness.
					</p>
					<p>
						Much like Gnosis and Rage, Willpower is recorded in 
						two forms. The permanent Willpower rating is illustrated 
						on the character sheet by dots; the temporary Willpower 
						pool is measured in the squares below the Willpower rating. 
					</p>
					<p>
						A character’s Willpower pool can never be larger than his 
						Willpower rating. As with Rage and Gnosis, spending a 
						Willpower point is recorded on the Willpower pool squares, 
						and not on the permanent rating dots.
					</p>
					<p>
						As a character spends Willpower, he finds his reserves 
						becoming depleted. With no Willpower left, characters 
						are exhausted and unable to summon the inner strength 
						to perform their duties. They will not care what happens 
						to them, since they have no Willpower to go on.
					</p>
					<br>
					<hr>
					<br>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;</div>
						<div class="col-sm"> Spineless</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2 ">&#9679;&#9679;</div>
						<div class="col-sm ">Weak</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;</div>
						<div class="col-sm">Unassertive</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;&#9679;</div>
						<div class="col-sm">Diffident</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;&#9679;&#9679;</div>
						<div class="col-sm">Certain</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;&#9679;&#9679; &#9679;</div>
						<div class="col-sm">Confident</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;</div>
						<div class="col-sm">Determined</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;</div>
						<div class="col-sm">Controlled</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;</div>
						<div class="col-sm">Iron-willed</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3"></div>
						<div class="col-sm-2">&#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;&#9679;</div>
						<div class="col-sm">Unshakable</div>
					</div>
					<br><br>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Using Willpower">
				<ng-template ngbTabContent>
					<br>
					<h2>Using Willpower</h2>
					<p>
						Of all the Traits werewolves possess, Willpower is 
						one of the most frequently rolled and spent because of 
						the many ways it can be utilized.<br><br>
						<b>Automatic Successes:</b>
						 Spending a Willpower point 
						on an action gives the player one extra success on any 
						roll. Only one point can be spent this way each turn, but 
						the success is guaranteed. Spending Willpower in this way 
						completely negates the effects of a botch. Some do not 
						allow a character to spend Willpower, including damage 
						rolls or any roll to activate Gifts.<br><br>
						<b>Uncontrollable Urges:</b>
						 Garou are instinctual 
						creatures, and can find the Beast within reacting to 
						stimuli without conscious thought. The Storyteller may 
						inform you that your character has done something from 
						a primal urge, like getting away from fire or attacking a 
						creature of the Wyrm. A Willpower point can be spent to 
						negate this gut reaction and keep the Garou right where 
						he is. On rare occasions, the player must keep spending 
						Willpower points until the character removes himself 
						from the situation or runs out of Willpower.<br><br>
						<b>Halting Frenzies:</b>
						 As mentioned previously, a 
						character flies into a frenzy whenever her player rolls 
						more than four successes on a Rage roll. This situation 
						can be averted if the player spends a Willpower point to 
						remain in control.<br><br> 
						<b>Fighting On: </b>
						 When a werewolf is injured, her 
						wounds can make it hard for her to concentrate, represented 
						by wound penalties to her actions. By spending a point 
						of Willpower, she can ignore the wound penalties on a 
						single roll. <br><br>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Recovering Willpower">
				<ng-template ngbTabContent>
					<br>
					<h2>Recovering Willpower</h2>
					<p>
						Characters must be able to rest in order to regain 
						Willpower. Between their ongoing battles against the 
						Wyrm and its minions, the daily rituals and duties of the 
						human side of their lives, Garou often do not have time 
						to take a breath. This section presents three different 
						ways characters can regain their Willpower; it’s up to the 
						Storyteller which of these methods she uses.<br><br> 
						<b>When a story is complete</b>
						, characters can regain 
						all their Willpower. This act should be reserved for 
						story
						endings, not necessarily the end of each session. The 
						Storyteller may allow the characters to regain only as 
						much Willpower as she feels they deserve for the goal 
						they accomplished.<br><br>
						Characters who 
						<b>achieve a personal victory</b>
						 in the 
						framework of the larger story can regain some amount 
						of Willpower. These victories should relate directly to 
						the character, such as confronting a personal enemy 
						or overcoming a vice. The Storyteller rules whether a 
						character has regained some or all of his self-confidence 
						by this action.<br><br>
						If a character 
						<b>performed his auspice duties</b>
						particularly well, she might regain one to three Willpower 
						points. This method is subject to the Storyteller’s approval, 
						and it relies largely on the roleplaying skills of the player.
						In addition to these methods, characters regain one 
						point of Willpower when they wake up each day. While 
						not as involved or satisfying as the above methods, it 
						does allow werewolves to keep moving even when all 
						hope seems lost.<br><br>
					</p>
					<br>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>