@font-face {
    font-family: werewolf;
    src: url("/assets/WEREWOLF.TTF");
}

body {
	padding-top: 70px; 
}
.main-content {
    padding: 5rem 1.5rem;
    text-align: center;
}

/deep/ body {
	background-image: linear-gradient(#21548d, #000000);
	color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

/deep/ a {
	color: rgba(255, 255, 255, 0.75);
}

/deep/ a:hover {
	color: white;
}

/deep/ h1 {
	font-family: werewolf;
}

/deep/ h2 {
	color: gold;
	font-family: werewolf;
}

/deep/ h3 {
	color: gold;
	font-family: werewolf;
}

/deep/ h4 {
	color: gold;
	font-family: werewolf;
}

/deep/ h5 {
	color: gold;
	font-family: werewolf;
}

/deep/ .modal-body{
	background-color: black;
	color: white;
}

/deep/ .modal-header {
	background-color: black;
	color: white;
}

/deep/ .modal-footer {
	background-color: black;
	color: white;
}

/deep/ hr {
	color: white;
	background-color: white;
}