<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
			<h1>Character Creation - What is a werewolf?</h1>
			<p>
  				Three important characteristics shape the werewolf. 
				Breed is the birth form and heritage, whether born to humans, wolves, or Garou alone. Auspice is the moon phase under which he was born: a mystical blessing illuminating 
				his spiritual path. Tribe is the specific Garou society unit 
				to which he belongs. These three characteristics are the 
				foundation for a Werewolf character’s background story.
				Breed, auspice, and tribe should inspire you as a player 
				to create an interesting combination of traits, interpreting 
				how the intersection of these three axes provides guidelines 
				for a fascinating character. Naturally, these three aspects 
				are merely starting points — inspirational archetypes, not 
				pre-programmed personality traits. In play, your character 
				may become the Platonic ideal of these archetypes, or he 
				may break away from assumptions to define himself in an 
				entirely unexpected fashion.
			</p>
			<br>
			<br>
			<h2><a href="/breeds">Breeds</a></h2>
			<h2><a href="/auspices">Auspices</a></h2>
			<h2><a href="/tribes">Tribes</a></h2>
		</div>
	</div>
