<div class="container">
	<div class="row">
		<h1 class="col-sm">News and changes</h1>
	</div>
	<img id="settingClaws" class="img-fluid settingAnkh" src="assets/WerewolfClaws_Glow.png" >
	<div class="row">
		<div class="col-sm">
			<p>
				News here!
			</p>
			<br>
					</div>
	</div>
			<ngb-tabset>
					<ngb-tab title="Changelog">
						<ng-template ngbTabContent>
							<div class="row">
		<div class="col-sm">
			<br>
			<p>
				Added news page.
				Added martial arts under combat section.
			</p>
			</div>
	</div>
		</ng-template>
		</ngb-tab>
		<ngb-tab title="">
			<ng-template ngbTabContent>
				<div class="row">
		<div class="col-sm">
					<br>
					</div>
	</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="">
			<ng-template ngbTabContent>
				<div class="row">
		<div class="col-sm">
					</div>
	</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="">
			<ng-template ngbTabContent>
				<div class="row">
		<div class="col-sm">

					</div>
	</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
	
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
</div>