<div class="gift-detail">
	<div *ngIf="gift" >
		<div class="col-sm">
			<h2>{{gift.name}} - Level {{gift.level}}</h2>
			<br>
			<div><span><b>Description: </b><p [innerHTML]="gift.description"></p></span></div>
				<br><br>
			<div><span><b>System: </b><p [innerHTML]="gift.system"></p></span></div>
			<br><br>
			<div class="container-fluid">
				<ul class="list-inline"> <b>This gift is taught to: </b>
					<li class="gift list-inline-item"
					*ngFor="let user of gift.users">
					<span>{{user | titlecase}}</span>
					</li>
				</ul>
			</div>
		</div>
	<div>
</div>

