<div class="row">
	<div class="col">
		<h1>Combat Maneuvers:</h1>
			<p>These maneuvers give you a variety of choices in combat. Most of these maneuvers take one action to execute.</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<ngb-tabset>
			<ngb-tab title="General Maneuvers">
				<ng-template ngbTabContent>
					<br>
					<h1>General Maneuvers</h1>
					<hr>
					<p>
						Any character with the right physique can perform
						these maneuvers. Some moves, however, are limited to
						certain forms — it’s hard to claw someone if you don’t
						have claws! For the most part, these attacks inflict bashing
						damage. Exceptions are noted in each entry.
					</p>
					<h4>Bite</h4>
					<p>
						The most basic attack utilized by creatures with
						teeth, biting involves... well, biting. Garou and vampires
						inflict aggravated damage with their bites, while many
						other creatures deal out lethal damage. At the storyteller’s
						option, Glabro-form Garou may bite a target at difficulty
						8, inflicting Strength –1 in lethal damage.
					</p>
					<p>
						<b>Usable By: Crinos, Hispo, Lupus
							Roll: Dexterity + Brawl
 							Difficulty: 5
							Damage: Strength + 1
							Actions: 1</b>
					</p>
					<h4>Claw</h4>
					<p>
						Ripping his target with sharp talons, a were-
						wolf inflicts aggravated damage on his opponent when
						in Crinos and Hispo form, bashing damage in Glabro or
						Lupus form.
					<p>
						<b>Usable By: Crinos or Hispo/A, Glabro or Lupus/B
						Roll: Dexterity + Brawl
 						Difficulty: 6
						Damage: Strength + 1
 						Actions: 1</b>
					</p>
					<h4>Disarm</h4>
					<p>
						The attacker uses her weapon to knock
						her opponent’s weapon from his hand. To succeed, the attacker rolls Dexterity + Melee at +1 to her usual difficulty;
						if her successes exceed her opponent’s Strength score, he
						drops that weapon. If she doesn’t score enough successes
						to disarm the opponent, she still inflicts her usual damage.
						If she botches that roll, she loses her own weapon instead.
					</p>
					<p>
						A brave or desperate attacker can try to disarm an
						armed opponent with her bare hands. In this case, the roll
						is Dexterity + Brawl, the difficulty is 8, and she subtracts
						one die from her usual attack dice pool.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos
							Roll: Dexterity + Melee
 							Difficulty: +1 / 8
							Damage: Special Actions: 1
						</b>
					</p>
					<h4>Flank or Rear Attacks</h4>
					<p>
						By attacking an opponent’s
						flank, the assailant reduces his difficulty by one; by at-
						tacking from the rear, he reduces it by two.
					</p>
					<p>
						<b>
							Usable By: All forms
							Roll: Normal
 							Difficulty: –1 / –2
							Damage: Normal Actions: 1
						</b>
					</p>

					<h4>Grapple</h4>
					<p>
						Seizing an opponent, the attacker tries to
						either crush him (a clinch) or immobilize him (a hold).
						Either assault begins with a successful Strength +
						Brawl roll. If the attacker wants to hurt her
						foe, that player may roll her Strength to
						inflict damage, beginning on the next turn
						and continuing until the opponent breaks
						free. (The foe may try to soak that damage
						as usual.) If the attacker wishes to hold her
						opponent still, he’s stuck in her grip until
						his next action.
					</p>
					<p>
						To escape a grapple, the opponent has two
						options: He can break free by successfully beating his attacker in a resisted Strength + Brawl
						roll; or he can reverse the hold by doing the same
						thing and then scoring two successes more than his
						attacker has scored. At the Storyteller’s option, an
						agile character can use Dexterity instead of Strength
						with such feats.
					</p>
					<p>
						Grapple attacks normally inflict bashing damage.
						A character using barbs, spikes or claws with such an
						attack can rend her victim with lethal or possibly (as
						with Garou) aggravated damage instead.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos
							Roll: Strength + Brawl
							Difficulty: 6
							Damage: Strength or none
							Actions: 1
						</b>
					</p>
					<h4>Kick</h4>
					<p>
						Lashing out with a leg
						or two, the character knocks his
						opponent silly. As presented here,
						the kick is pretty straightforward; to
						reflect elaborate martial arts kicks,
						the Storyteller may adjust the difficulty
						and/or damage upward for complexity
						and effect.
					</p>
					<p>
						Kicks normally inflict bashing damage. A Crinos were-
						wolf kicking a normal human, however, may inflict lethal
						damage from sheer mass and power.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos
							Roll: Dexterity + Brawl
 							Difficulty: 7
							Damage: Strength +1
 							Actions: 1
						</b>
					</p>
					<h4>Punch</h4>
					<p>
						Punches, like kicks, can be simple or
						elaborate. Special punches — an uppercut, a haymaker,
						a knife-hand strike — may deal out extra damage with a
						higher difficulty rating. Punches generally inflict bashing
						damage, but nerve-strikes, kidney-blows, and punches by
						800-pound werewolves might shatter bones and organs,
						inflicting lethal damage.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos		
							Roll: Dexterity + Brawl
 							Difficulty: 6
							Damage: Strength Actions: 1
						</b>
					</p>
					<h4>Sweep</h4>
					<p>
						Using a leg (Brawl) or weapon (Melee), the
						attacker knocks her opponent’s legs out from under him. A
						successful sweep dumps the foe on the ground that turn; it
						won’t hurt him, but might set him up for further attacks.
						Crinos-form werewolves can use their long arms to
						sweep an enemy’s legs out, too. Likewise, a Hispo or Lupus
						Garou can trip a bipedal opponent by tangling up his
						legs. Either attack employs the same difficulty and effects.
					</p>
					<p>
						<b>
							Usable By: All forms
							Roll: Dexterity + Brawl
 							Difficulty: 8
							Damage: None
 							Actions: 1
						</b>
					</p>
					<h4>Tackle</h4>
					<p>
						Dashing toward his opponent, the attacker
						smashes full-force into her. Tackles are risky, though —
						using one’s self as a battering ram can backfire.
						A tackle requires at least two yards of distance to
						achieve effective momentum. Each combatant must make
						a successful Dexterity + Athletics roll (difficulty 6 for
						the attacker, difficulty 6 + the attacker’s successes for the
						target) or else wind up sprawled on the ground afterward.
						A would-be tackler who botches trips and falls (in-
						flicting one die of damage upon himself for every yard he
						ran); slams into something else (inflicting that damage
						plus his Strength damage upon himself); or crashes into his
						target and bounces off (suffering the opponent’s Stamina
						in damage, but leaving the target unharmed).
						In most cases, tackling inflicts bashing damage. Certain situations — crashing into a brick wall, employing
						a spiky hide or armor, crushing a puny human beneath
						the weight of a charging werewolf — might make that
						damage lethal instead.
					</p>
					<p>
						<b>
							Usable By: All forms
							Roll: Dexterity + Brawl
 							Difficulty: 7
							Damage: Strength Actions: 1
						</b>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Dirty Fighting">
				<ng-template ngbTabContent>
					<br>
						<h1>Dirty Fighting</h1>
					<p>
						Brutal, dishonorable and usually effective, the following maneuvers come from back-alleys, bar-brawls, rape-prevention classrooms and other venues where anything
						that puts your opponent down for the count is fair game.
						In game terms, a character must either have Brawl 3
						or higher, a background (like a self-defense class) in which
						he might have learned such tricks, or both.
					</p>
					<h4>Blinding</h4>
					<p>
						Raking the enemy’s eyes, throwing dirt in
						them, spraying his face with chemicals or using some similar
						method, the attacker tries to render her opponent sightless.
						If she succeeds, the enemy is blinded for one turn per success, and loses two dice from his dice pools until he recovers.
						This attack doesn’t normally inflict lasting damage.
						At the Storyteller’s option, however, a truly vicious strike
						(gouging with claws, throwing acid, etc.) might inflict a
						health level or two of lethal damage in addition to the
						blindness. Five successes or more may destroy the eyes
						completely, and while a werewolf can heal from such
						injury, most creatures cannot.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos
							Roll: Dexterity + Subterfuge Difficulty: 9
							Damage: Special Actions: 1
						</b>
					</p>
					<h4>Body Slam</h4>
					<p>
						Picking an opponent up over his head,
						the assailant uses brute strength and momentum to bring
						some serious pain.
						This maneuver first requires a successful grapple attack; if the enemy can’t break free that turn, the attacker
						may use her next action to slam him into the nearest and
						most painful surface. Generally, this attack inflicts bashing damage; if the surface happens to be sharp, spiked or
						incredibly hot, however, said pain might be lethal.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos
							Roll: Dexterity + Brawl
 							Difficulty: 6
							Damage: Strength +2
 							Actions: 2
						</b>
					</p>
					<h4>Curbstomp</h4>
					<p>
						Bracing his opponent’s face against
						a curb or other solid surface, the attacker then slams his
						foot down on the back of the enemy’s head. A favorite
						tactic of Bone Gnawer and Get of Fenris street-fighters,
						this move can break teeth, crack jaws, snap spines or crush
						skulls... especially when done by a werewolf!
						Curbstomping requires a stunned or immobilized
						target, plus a turn to place his face into position. After
						that, the attacker stomps, and physics does the rest. The
						attacker rolls his Strength for the attack. This assault in-
						flicts lethal damage, and may leave the opponent unable
						to bite afterward (Storyteller’s call) until the injury heals.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos
							Roll: Strength + Brawl
 							Difficulty: 6
							Damage: Strength +2
 							Actions: 2
						</b>
					</p>
					<h4>Low Blow</h4>
					<p>
						Just what it says. Wherever the attacker
						hits (septum, nuts, kidneys, etc.), it’s going to hurt. A lot.
						Assuming the assailant makes a successful attack roll,
						her target winds up stunned for one turn for each health
						level inflicted after the soak roll. He can try to shrug it
						off with a Stamina roll (difficulty 8), but otherwise he’s
						writhing or paralyzed with pain. Normally, this trauma
						involves bashing damage. A low blow struck with claws,
						teeth, blades, or crushing force, however, is lethal.
					</p>
					<p>
						<b>
							Usable By: All forms
							Roll: Dexterity + Brawl
 							Difficulty: 7
							Damage: Strength + Stun Actions: 1
						</b>
					</p>
					<h4>Pistol Whip</h4>
					<p>
						Belting her target across the face or
						skull with a gun or other slender, heavy object, the attacker adds some extra emphasis to her argument... and
						possibly cracks the target’s skull as well. Obviously, this
						maneuver requires a gun or similar instrument (crowbar,
						truncheon, candlestick, etc.), and it inflicts lethal dam-
						age. A character hit with a successful pistol whip may be
						stunned for one turn if he fails a Stamina roll (difficulty
						8), and for two turns if he botches that roll.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro
							Roll: Dexterity + Melee
 							Difficulty: 7
							Damage: Strength +2/L
 							Actions: 1
						</b>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Special Maneuvers">
				<ng-template ngbTabContent>
					<br>
					<h1>Special Maneuvers</h1>
					<p>Werewolves are born fighters. Even so, certain maneuvers must be taught by skilled warriors. Many 	 of the
						following tactics demand bestial flexibility too — normal
						people lack the natural grace or weaponry essential to such
						tactics. In game terms, a Garou character may begin the
						game knowing one selected maneuver from this list; to
						learn more, he’ll need to spend time with an appropriate
						mentor (another werewolf who knows the trick) and then
						practice what he’s learned.
					</p>
					<h4>Evasive Action</h4>
					<p>
						Animals excel at getting out of
						harm’s way. By leaping, spinning, whirling, and otherwise
						dodging attacks, a werewolf can set her opponent up for
						a surprise blow.
						In game terms, this maneuver works like a dodge,
						although the evasive character cannot abort her previous
						declared action to use this tactic. Each success scored by
						the evader subtracts one success from the attacker’s roll.
						If she scores more successes than her attacker does, she
						can hit him in the next turn at –1 to her attack difficulty,
						assuming that she acts before he does.
					</p>
					<p>
						<b>
							Usable By: All forms
							Roll: Wits + Athletics
 							Difficulty: 6
							Damage: None
 							Actions: 1
						</b>
					</p>
					<h4>Hamstring</h4>
					<p>
						Biting into his foe’s lower leg, the as-
						sailant tears out her tendons. This cripples two-legged
						enemies and hampers four-legged ones severely. In game
						terms, a successful hamstring attack knocks a bipedal target
						over and makes it hard for her to stand again (Dexterity
						+ Athletics, difficulty 8), much less move (1/4 normal
						movement) until the injury heals. Multi-legged opponents
						halve their usual movement, and may be pulled down.
						unless they make a successful Dexterity + Athletics move
						to remain standing (difficulty 7).
						When dealt out by a werewolf’s fangs or claws, the damage
						inflicted by this attack is aggravated. Humanoid characters
						can try to hamstring an enemy with a blade or axe, using
						Dexterity + Melee (difficulty 9) and inflicting lethal damage.
					</p>
					<p>
						<b>
							Usable By: Crinos, Hispo, Lupus
							Roll: Dexterity + Brawl
 							Difficulty: 8 / 9
							Damage: Strength + Cripple Actions: 1
						</b>
					</p>
					<h4>
						Jaw Lock
					</h4>
					<p>
						This common lupine tactic can force a
						smart opponent to surrender without injuring her. The
						attacking werewolf grips his rival’s throat with his teeth,
						but does not bite her... yet.
						This attack can be performed only if the attacker is
						in a position to use his mass to his advantage. It’s usually
						done once the rival has been flipped over or knocked to
						the ground. The attacking wolf then wraps his jaws around
						the rival’s throat — a bite roll with an additional +1 to its
						difficulty. If the rival chooses to fight back, both players
						roll a resisted Strength + Athletics roll; if the attacker
						wins, he forces the other wolf to the ground and pins her;
						if the attacker loses, he fails to immobilize his target, but
						inflicts the usual bite damage.
					</p>
					<p>
						Many animals instinctively surrender at this point. If
						the defender chooses not to give up, her player can roll
						her Strength + Brawl on the next turn, in a resisted roll
						against the attacker’ Strength + Brawl. The defender’s
						difficulty is the attacker’s Brawl + 4, while the attacker’s
						difficulty is the defender’s Brawl +2. If she fails, she remains pinned; if she matches his successes, she pulls free
						but takes damage equal to the attacker’s successes in that
						turn. (She can try to soak this damage.) Should she score
						more successes than he did, she wins free — probably to
						teach her rival the error of his ways.
					</p>
					<p>
						<b>
							Usable By: Crinos, Hispo, Lupus
							Roll: Dexterity + Brawl
 							Difficulty: 6
							Damage: None/ Special
 							Actions: 1
						</b>
					</p>
					<h4>Leaping Rake</h4>
					<p>
						Sailing past her opponent, the attacker lashes out with claws or a weapon, hopefully dishing
						up some harm in the process. Assuming she succeeds, the
						assailant winds up out of her enemy’s attack range.
						In game terms, the player picks where she wants her
						character to land. The Storyteller figures out how many
						successes on a Dexterity + Athletics roll she’ll need in order
						to get there safely. (Difficulty is 3; distances can be found
						under Jumping in the Physical Feats section.) If the player
						scores enough successes to reach her goal, she may try to tag
						her target with an additional Dexterity + Brawl roll. If she
						fails the jump roll, she winds up within her enemy’s reach.
						A Homid- or Glabro-form werewolf could attempt
						this trick with a weapon, inflicting lethal or perhaps
						bashing damage with a successful Dexterity + Melee roll.
						It’s most effective, however, in Crinos form, when the
						werewolf’s claws cause aggravated injury with a war-wolf’s
						full strength behind it.
					</p>
					<p>
						<b>
							Usable By: Homid, Glabro, Crinos
							Roll: Dexterity + Athletics/ Dexterity + Brawl
							Difficulty: 8
							Damage: Strength + 1
 							Actions: 2
						</b>
					</p>
					<h4>Taunt</h4>
					<p>
						A Ragabash favorite! The attacker mocks,
						threatens, and tempts his opponent, seeking to drive her
						to distraction or stupidity. For every two successes the
						assailant scores on a roll of Manipulation + Intimidation
						(for non-Garou) or Expression (for other werewolves),
						the target loses one die from her next action.
						A Garou may be taunted into frenzy. If the attacker
						scores one success or more, the defender must make a
						Rage roll; if an entire pack is taunting her (see below),
						the frenzy difficulty is reduced by one.
						This tactic may be used by entire pack (see Pack Tactics),
						in which case its effects add up as each taunting wolf takes
						a turn. Prey taunted this way may soon wind up unable to
						act at all. A target whose dice pool is reduced to nothing
						can’t do anything except dodge, scream, and probably die.
					</p>
					<p>
						<b>
							Usable By: All forms		
							Roll: Manipulation + Expression/ Intimidation
							Difficulty: Opponent’s Wits + 4
							Damage: None
 							Actions: 1
						</b>
					</p>
					<h4>Wishbone</h4>
					<p>
						Grabbing a foe by an extremity or two, a
						werewolf can use her incredible strength to rip said enemy
						limb from limb. Even more effective when employed by a
						pack of wolves, this attack may be used for intimidation,
						torture, or grotesque theatricality.
						Each character involved in the wishbone attempt
						must successfully roll Dexterity + Brawl. The difficulty
						starts at 6, and drops by one for each Garou involved in
						the attack. Assuming success, the monsters can use their
						next action to give a nice hard yank.
						This damage is lethal if the werewolves are using brute
						strength, aggravated if they employ their teeth. Obviously,
						the Garou can choose not to pull; this tends to be a rather
						effective method of coercion. If the werewolves decide to
						make things last, they might pull slowly, inflicting bashing
						damage rather than lethal or aggravated injury. And if the
						werewolf’s not in the mood to play around, she might simply
						decide to tear things off. If any one Garou inflicts more
						than three health levels (after soaking) with this attack,
						the extremity in question is broken or... um, removed.
					</p>
					<p>
						<b>
							Usable By: Glabro, Crinos, Hispo, Lupus
							Roll: Dexterity + Brawl
							Difficulty: 6 / –1 for each additional werewolf involved
							Damage: Strength (for each Garou involved)
							Actions: 2
						</b>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Pack Tactics">
				<ng-template ngbTabContent>
						<br>
						<h1>Pack Tactics</h1>
						<p> Werewolves, like true wolves, are more efficient in
							packs. Beyond the obvious devastation wrought by a bunch
							of shapechanging monstrosities, certain combat maneuvers make full use of the bond between packmates. The
							following tactics require a certain familiarity — typically
							the spiritual bond provided by a common totem spirit —
							before they can be performed by the werewolves in question. At the Storyteller’s option, a pack of Garou who’ve
							trained together might use some of these maneuvers as
							well, though at an additional +1 difficulty.</p>

						<p>As a group, the pack may know one common maneuver
							for each point of Gnosis possessed by the packmate with
							the lowest Gnosis rating. This preternatural awareness
							allows them to share an uncanny level of coordination.
							The following entries merely scratch the surface of what
							an imaginative pack can do, and each entry features a
							minimum number of packmates necessary to perform the
							feat. Coming up with new tactics may be worth a point
							of Glory or Wisdom Renown, and will certainly make
							your pack a more formidable entity. For other potential
							pack-based tactics, see Flank or Rear Attacks, Sweep, Taunt,
							and Wishbone, above, as well as Long Running, Sensing,
							and Shadowing in the Physical Feats section, and Hunting,
							Searching, and Tracking under the Mental Feats section.
							</p>
							<h4>Fur Gnarl</h4>
							<p>
								As one packmate strips away protective layers from the prey, a second packmate darts in to
								attack the freshly exposed area. The protection in question doesn’t have to be fur — it could be armor plating,
								protective gear, or something else. Either way, the target
								becomes more vulnerable, thanks to a tag-team assault.
								The first attacker rolls Dexterity + Brawl, difficulty
								7, to tear away the armor; for each two successes on this
								roll, the defender loses one die from his soak rolls for
								that location. The next packmate can then attack that
								area; although she adds two to her difficulty, that second
								werewolf hits that weak spot, bypassing the protection
								that would be there if her packmate hadn’t removed it
								first. Until he can regrow or replace his armor, the prey
								remains in pretty sad shape... especially since the were-
								wolves can strip away more layers with further attacks.
							</p>
							<p>
								<b>
									Usable By: Glabro, Crinos, Hispo, Lupus
									Packmates Required: 2 or more
								</b>
							</p>
							<h4>
								Harrying
							</h4>
							<p>
								Wolves typically run their prey to ground,
								separating groups and then driving a potential meal to
								exhaustion. Garou do the same thing, especially when a
								foe is too dangerous to attack head-on.
								To harry a target, at least four werewolves close in —
								one in front of the prey, one behind it, and two or more on
								each flank. The rearmost Garou drives the target towards
								the others, then breaks off as the one in front jumps out
								of cover, snapping and snarling. The packmates trade off
								positions, never actually closing in until the prey gets
								worn down. If and when the prey or werewolves stand
								and fight, combat proceeds normally.
							</p>
							<p>
								The game system for harrying prey works like this:
								The rearmost Garou makes a Dexterity + Athletics roll,
								difficulty 5; the prey makes the same roll at the same difficulty. If the werewolf scores more successes, she chases
								the prey toward another packmate, “handing him off” for
								another round of harrying.
							</p>
							<p>
								If the prey scores more successes than the werewolf
								player does, he wins a head start. The Garou player can
								try to harry him again, but this time each success he rolled
								beyond her own adds +1 to her difficulty. She must exceed
								her prey’s successes at the new, higher difficulty in order to
								chase him to the next packmate. (A werewolf whose initial
								attempt was beaten by three successes, for example, must
								beat her prey at difficulty 8 during the next attempt, while
								her prey still rolls against difficulty 5.) If she succeeds, the
								prey escapes and the pack must chase him down again.
								For each successful “hand-off,” the prey adds +1 to his
								difficulty; thus, he rolls against difficulty 6 when facing the
								second werewolf, difficulty 7 when facing the third, and
								so on until he’s worn down and either turns to fight, sur-
								renders, or collapses from exhaustion. For each successful
								“hand-off” after the first, the prey loses one die from his
								dice pools. Normal humans also lose one Willpower point
								each time they’re “handed off” between werewolves, while
								human-like entities (vampires, changelings, mages, etc.) lose
								one Willpower point for every two successful exchanges.
							</p>
							<p>
								Garou typically harry their prey in one of their lupine forms; Homid and Glabro aren’t usually frightening
								enough, while Crinos tends to finish the “game” in a hurry.
								Many tribes, especially the Shadow Lords, Red Talons,
								and Get of Fenris, use harrying to kidnap and initiate their
								new cubs before or during the First Change. Welcome to
								the Garou, kid — better get used to it!
							</p>
							<p>
								<b>
									Usable By: Hispo, Lupus
									Packmates Required: 4 or more
								</b>
							</p>
							<h4>Savage</h4>
							<p>
								Sometimes called the “dogpile” by Bone
								Gnawers, this assault involves a bunch of werewolves
								jumping on a fallen opponent and tearing him to shreds.
								One Garou knocks the enemy over, and the rest charge
								in, biting and ripping with teeth and claws.
								The brave first attacker executes a successful sweep or
								tackle maneuver; once the prey hits the ground, the packmates
								surge in to attack. (See Blinded, Knocked Down, Immobilized, or
								Stunned.) If the prey manages to survive the initial onslaught,
								it might try to stand up again This attempt requires a successful Strength + Athletics roll, with the difficulty being 4 + 1
								for each Garou involved in the attack (maximum 10). As
								many Bone Gnawer enemies have discovered, the dogpile
								tends to finish most enemies off in no time.
							</p>
							<p>
								<b>
									Usable By: Any form
									Packmates Required: 3 or more
								</b>
							</p>
						<hr>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Complications/Status Effects">
				<ng-template ngbTabContent>
					<br>
					<h1>Maneuver complications</h1>
					<p>Sometimes not everything goes according to plan. Here are some maneuver complications and status effects.</p>
					<hr>
					<h4>Blinding</h4>
					<p> A character who’s been blinded by injury
						or darkness cannot dodge, parry or block incoming attacks.
						All other actions add two to their difficulty. Given the
						keen senses of most werewolves, a Garou player could take
						an action to sense her character’s surroundings in order
						to reduce that penalty, or else use a Gift to compensate
						for blindness. As usual, the Storyteller is the final judge.
					</p>
					<h4>Knockdown</h4>
					<p>
						A character who’s been knocked
						off her feet must take an action to scramble back up; if
						she cannot do so, she may be considered to be partially
						immobilized.
					</p>

					<h4>Immobilization</h4>
					<p>
						If a character has been held down,
						paralyzed, or otherwise rendered unable to move, any
						character who attacks him reduces her difficulty by two
						if the target is still able to move a little bit, and may hit
						him automatically if he cannot move at all.
					</p>
					<h4>Stunning</h4>
					<p>
						If — after the soak roll — a character
						suffers health-level damage that equals or exceeds her
						Stamina rating, she’s stunned until the end of the fol-
						lowing turn. The stunned character can’t do anything
						except perhaps stumble around in a daze, and attack
						rolls against her during that time reduce their
						difficulty by two.
					</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>