<div class="row">
	<div class="col">
		<h1>Martial Arts</h1>
			<p>This page describes the martial arts of the various Garou tribes and their special skills and maneuvers as well as requirements. All of these martial arts require special training by mentors well-versed in the art themselves.</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<ngb-tabset>
			<ngb-tab title="Iskakku">
				<ng-template ngbTabContent>
					<br>
					<h1>Iskakku</h1>
					<hr>
					<h2>Origin and History</h2>
					<p>
						According to the Children of Gaia Iskakku, The Way of the Staff was started by ‘Peak Who Emits The Brilliance’ an Ahroun of Ancient Kish. Generations of warriors who followed him have worked on expanding the Way. In keeping with the philosophy of its creator tribe; Iskakku is focused towards defence and subduing enemies without permanent harm. As many an arrogant Ahroun from other tribes has discovered, this in no way makes it ineffective. Unlike the other Ways of Discipline, there are no formal restriction or arduous tests for those interested in learning. Members of other tribes and Kinfolk are taught as freely as aspirants among the Children of Gaia. Students are encouraged to share what they have discovered.

					</p>
					<p>
						<b>Requirements: </b>
						1 Dodge, 1 Melee, Staff, Training
					</p>
					<hr>
					<h2>Maneuvers</h2>
					<b>&#9679; Attack and Block</b>
					<p>
						This Maneuver is considered always active. You may substitute Iskakku for Melee skill when using a Staff in combat.
						<br>
					</p>
					<b>&#9679; Iskakku Dodge</b>
					<p>
						As long as you are holding a staff, you may substitute your Martial Arts for Dodge. This is a manifestation of an Iskakku novice's mastery of staff balance, and ability to feint and otherwise outmaneuver his opponent by using his staff to confuse them. <b>A character must already have at least Dodge 1 in order to make use of this maneuver.</b>
						<br>
					</p>
					<b>&#9679;&#9679; Mahasu Qatu - Hand Smite</b>
					<p>Roll Dex+Iskakku<br>
					Diff 8<br>
					Damage Special<br>
					Actions Special</p>
					<p>
						When being attacked by someone using another melee weapon, the character may opt to make a parry that also doubles as an attempt to dislocate the attacker’s wrist. This not only knocks the oncoming attack away, but also potentially disables his opponent. The defender makes an Iskakku+Dex roll (diff 8). If the number of successes exceeds the attacker’s successes, then the attack is not only successfully deflected, But the attacker’s wrist becomes dislocated and he may no longer use that hand until it heals (the equivalent of healing a level of bashing damage)
					</p>
					
					
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Kailindo">
				<ng-template ngbTabContent>
					<br>
						<h1>Kailindo</h1>
					<hr>
					<p>
						
					</p>
					<h4></h4>
					<p>
						
					</p>
					<p>
						<b>Requirements: </b>
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Klaivaskar">
				<ng-template ngbTabContent>
					<br>
					<h1>Klaivaskar</h1>
					<hr>
					<p>
						
					</p>
					<h4></h4>
					<p>
						
					</p>
					<p>
						<b>Requirements: </b>
					</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>