<div class="row">
	<div class="col">
		<h1>Martial Arts</h1>
			<p>This page describes the martial arts of the various Garou tribes and their special skills and maneuvers as well as requirements. All of these martial arts require special training by mentors well-versed in the art themselves. Advancing in these arts require training by these experienced mentors.</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<ngb-tabset>
			<ngb-tab title="Iskakku">
				<ng-template ngbTabContent>
					<br>
					<h1>Iskakku</h1>
					<hr>
					<p>
						According to the Children of Gaia; Iskakku, The Way of the Staff was started by ‘Peak Who Emits The Brilliance’ an Ahroun of Ancient Kish. Generations of warriors who followed him have worked on expanding the Way. In keeping with the philosophy of its creator tribe; Iskakku is focused towards defence and subduing enemies without permanent harm. As many an arrogant Ahroun from other tribes has discovered, this in no way makes it ineffective. Unlike the other Ways of Discipline, there are no formal restriction or arduous tests for those interested in learning. Members of other tribes and Kinfolk are taught as freely as aspirants among the Children of Gaia. Students are encouraged to share what they have discovered.
					</p>
					<p>
						Unlike Klaviskar “Fetish Staffs” created as weapons are vanishingly rare, typicaly made by other Tribes. Somewhat more widespread are Staff Fetishes which are created for different purposes ( such as the Pilgrim’s Staff) which can also serve as a weapon.
						Staves are made from wood ( generally from wood that has been coppiced from living trees or from those who have died of natural causes) or Bamboo which is harvested without harming the plant. Bamboo groves or Coppiced trees which have had there spirits awakened may grant staves that give +1 Dice to the Iskakku skill, in exchange for the appropriate chimmage.
					</p>
					<p>
						<b>Requirements: </b>
						1 Dodge, 1 Melee, Staff, Training
					</p>
					<hr>
					<h2>Maneuvers</h2>
					<b>&#9679; Attack and Block</b>
					<p>
						This Maneuver is considered always active. You may substitute Iskakku for Melee skill when using a Staff in combat.
						<br>
					</p>
					<b>&#9679; Iskakku Dodge</b>
					<p>
						As long as you are holding a staff, you may substitute your Martial Arts for Dodge. This is a manifestation of an Iskakku novice's mastery of staff balance, and ability to feint and otherwise outmaneuver his opponent by using his staff to confuse them. <b>A character must already have at least Dodge 1 in order to make use of this maneuver.</b>
						<br>
					</p>
					<b>&#9679;&#9679; Mahasu Qatu - Hand Smite</b>
					<p>Roll Dex+Iskakku<br>
					Diff 8<br></p>
					<p>
						When being attacked by someone using another melee weapon, the character may opt to make a parry that also doubles as an attempt to dislocate the attacker’s wrist. This not only knocks the oncoming attack away, but also potentially disables his opponent. The defender makes an Iskakku+Dex roll (diff 8). If the number of successes exceeds the attacker’s successes, then the attack is not only successfully deflected, But the attacker’s wrist becomes dislocated and he may no longer use that hand until it heals (the equivalent of healing a level of bashing damage)
					</p>
					<b>&#9679;&#9679; Tammabukku Istu Kur – Dragon emerges from mountain</b>
					<p>Roll Dex+Iskakku<br>
					Diff 6<br>
					Damage +2 Dice</p>
					<p>
						As a sudden departure from the usual series of swings, the character suddenly thrusts the staff forward as he would normally a spear. This blow is aimed at the face and may not be attempted more than once in a row.
					</p>
					<b>&#9679;&#9679; Tabalu Kur – Take away the Land</b>
					<p>Roll Dex+Iskakku<br>
					Diff 8<br>
					Damage +2 Dice</p>
					<p>
						With a sweep of the staff, the attacker may attempt to trip his opponent, forcing him to the ground. The attacker rolls dex+iskakku (Diff 8) while the defender resists with dex + athletics (diff 7). If the attacker has more successes, then the defender falls. Otherwise he remains standing.
					</p>
					<b>&#9679;&#9679;&#9679; Isten Kima Ummante – One as an Army</b>
					<p>Roll Dex+Iskakku<br>
					Diff 6<br>
					Damage -1 Die</p>
					<p>
						The staff is wielded in such a way that both ends may be used to attack in quick succession. When using the technique, the character splits his attack dice in half, using the first (and larger if not even split) pool for his initial attack and the second pool for another attack. While these attacks aren’t as threatening as full swing, it tends to force the opponent to defend himself from the flurry of blows just to avoid being hit. All damage done with these attacks is one die less.
					</p>
					<b>&#9679;&#9679;&#9679;&#9679; Sepu Istu An – Foot from Heaven</b>
					<p>Roll Dex+Brawl<br>
					Diff 7<br>
					Damage Str+3<br>
					Actions 2</p>
					<p>
						The Character uses his staff to vault himself through the air and deliver a powerful kick to his opponent. The attacker first must have a little running room, and then roll his Strength + Athletics (Diff 5) to determine if he can vault far enough to his opponent. The distance vaulted is up to 8 feet per success. Upon landing, he rolls Dexterity+Brawl (diff 7) to deliver a powerful kick to his opponent. Regular combat rules apply to this attack.
					</p>
					<b>&#9679;&#9679;&#9679;&#9679; Sepsu Sepu – Powerful Foot</b>
					<p>Roll Dex+Iskakku<br>
					Diff 6<br>
					Damage -1 Die<br>
					Actions 1</p>
					<p>
						In addition to the extra attack allowed by Isten Kima Ummanante, the character may now divide his attack dice into three pools and use the third for a kick. Using all three blows is usually reserved for fighting lots of untrained combatants.
					</p>
					<b>&#9679;&#9679;&#9679;&#9679;&#9679; Adannu Lukur Daku – Appointed time of the Enemy’s Demise</b>
					<p>Roll Dex+Iskakku<br>
					Diff 8<br>
					Damage Normal<br>
					Actions 2</p>
					<p>
						The master of Iskakku often ends the fight before it actually begins. He stands in wait for his opponent’s first attack; He parries with one end of the staff while moving past his opponent and then delivers a powerful blow to the back of the head with the other end. If struck with precision, the blow to the cerebellum is enough to knock nearly anyone unconscious. The defender must make a successful parry (diff 7) and then make a dex+ Iskakku roll (Diff 8) to attack. If successful, the damage dealt is not applied as health levels of damage but is compared to the opponents stamina. If the damage is greater than his Stamina, the opponent is rendered Unconscious. This imaginary damage cannot be soaked.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Kailindo">
				<ng-template ngbTabContent>
					<br>
						<h1>Kailindo</h1>
					<hr>
					<p>
						A fusion of shapeshifting and Asian martial arts, this combat style involves rapidly shifting all or part of the body between the forms while striking, dodging, or grappling. The Stargazer tribe guards this style as an ancient tradition. A user of Kailindo is called a Kani.
						<br><br>
						Because it involves frequent shapeshifting, Kailindo always presents a potential breach of the Veil. During combat the Kani may bypass the normal shifting rules with the exception that the shift must occur during a kailindo action. An appropriate trait must be bid for any Maneuver that requires a challenge. All maneuvers are rolled using the ability Kailindo. Opponents may counter with an appropriate defensive ability. Some Maneuvers have restrictions on how often they may be used. No Maneuver may be used more than once in a turn. 
						<br><br>
						The default damage of Kailindo maneuvers is Lethal, though the user may choose to deal bashing. On non-grapple Maneuvers, the Kani may deal aggravated damage if the form permits. When inflicting damage with a maneuver, if in Crinos, you may deal 2 base damage with your hands and feet (regardless if you are using claws or not).
					</p>
					<p>
						<b>Requirements: </b>
						1 Brawl, 1 Dodge, Ability to shapeshift, Training
					</p>
					<hr>
					<h2>Maneuvers</h2>
					<b>&#9679; Fading Breeze</b>
					<p>
						Roll Dex+Kailindo<br>
						Shift: Yes, final form must be Hispo or Crinos<br>
						Diff 6<br>
						Actions 1
					</p>
					<p>
						The Kani changes from a smaller to a larger form as she slowly retreats while hurling a punch kick or slash towards the opponent. <br>
						Gain a 2 trait bonus on the attack.
					</p>
					<b>&#9679;&#9679; Deceptive Wind</b>
					<p>
						Roll Dex+Kailindo<br>
						Shift: Must begin in Homid-Crinos. No shift is needed.<br>
						Diff 6<br>
						Actions 2
					</p>
					<p>
						By leaping towards her opponent the Kani first feints a kick to the front, but instead passes her opponent and strikes from the side or the back while passing. <br>
						The opponent is considered surprised, allowing the Kani to get a surprise attack. You may use this on the target once per scene, though it may be used on multiple targets in the same scene.
					</p>
					<b>&#9679;&#9679;&#9679; Striking the Wind</b>
					<p>
						Roll Dex+Kailindo<br>
						Shift: Must begin in a different form and end in Crinos.<br>
						Diff 6<br>
						Actions 2
					</p>
					<p>
						The Kani takes a hit, but changes into a larger form and strikes with a counterattack. <br>
						After the Kani is struck in close combat, whether they take damage or not, they may reflexively spend a Rage Trait in order to make a counter attack against their attacker. This attack is made immediately after, regardless of initiative, and does not take into account (or count against) how many times their opponent has been attacked this Action. The Kani’s opponent may not use the Counterattack option on this attack.
					</p>
					<b>&#9679;&#9679;&#9679;&#9679; Tornado Kick</b>
					<p>
						Roll Dex+Kailindo<br>
						Damage: +1 Die<br>
						Shift: Must begin in Homid-Crinos. No shift is needed.<br>
						Diff 6<br>
						Actions 1
					</p>
					<p>
						The Kani spins around once like a tornado with incredible speed, adding momentum to the force of his blow or slash of claws. <br>
						The damage of the attack is increased by one.
					</p>
					<b>&#9679;&#9679;&#9679;&#9679;&#9679; Uncoiling Snake</b>
					<p>
						Roll Dex+Kailindo<br>
						Shift: Must begin in a smaller form and end in Glabro or Crinos.<br>
						Diff 6<br>
						Actions 1
					</p>
					<p>
						The Kani throws a kick or punch or slash of claws, but shifts to a large form at the last moment, surprising an opponent with more reach and power on the blow. <br>
						The opponent is knocked down and is considered to be -3 traits on physical actions the next turn.You may use this on the target once per scene, though it may be used on multiple targets in the same scene.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Klaviskar">
				<ng-template ngbTabContent>
					<br>
					<h1>Klaviskar</h1>
					<hr>
					<p>
						The ancient art of dueling takes on an entirely new aspect in Garou society. Many challenges are resolved through gamesmanship, puzzles, quests or other methods. But the most serious contests and the bitterest feuds are almost always settled with Klaives. Ownership of a Klaive is a sacred responsibility and it is considered a mark of the seriousness with which you take the fight for Gaia. Failure to respect the Klaive or the spirits within it is often grounds for honor duels or removal of the Klaive by the Elders. Challenging someone to Klaviskar is tantamount to a death threat as almost all Klaive duels end in death. It is therefore considered dishonorable (but not unheard of) to challenge someone to Klaviskar when they do not own a Klaive.
					</p>
					<p>
						<b>Requirements: </b>
						1 Melee, 1 Athletics, Klaive, Training
					</p>
					<hr>
					<h2>Maneuvers</h2>
					<b>&#9679; Parry</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 6<br>
						Actions 1
					</p>
					<p>
						The parry is a simple move to block the opponent’s blade with the duelist’s own.<br>
 						Allows the character to parry his opponents attack. If successful, they may make a free immediate Riposte Maneuver (if possessed). In addition, the character is up 2 traits for physical actions for the rest of the turn.
					</p>
					<b>&#9679; Bind</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 6<br>
						Actions 1
					</p>
					<p>
						The Duelist attempts to entrap his opponents blade with his own. Each success after the first prevents the opponent from taking one action with their klaive that turn. The opponent loses any Rage she has spent to gain extra actions. The due list may do nothing but maintain the bind and taunt his foe. After a successful bind, the duelist may attempt a Disarm or Prise d’Argent at -2 diff.
					</p>
					<b>&#9679;&#9679; Feint</b>
					<p>
						Roll Wits+Klaviskar<br>
						Diff 6<br>
						Actions 1
					</p>
					<p>
						The duelist pretends to be attacking in one direction, and then dodges any attempt to block, aiming to hit elsewhere on his opponent’s body.<br>
 						Countered by opponent's perception + dodge. If successful, add every additional success to your next attack within 2 actions.
					</p>
					<b>&#9679;&#9679; Disarm</b>
					<p>
						Roll Strength+Klaviskar<br>
						Diff 6<br>
						Actions 1
					</p>
					<p>
						In a contested Strength+Klaviskar (Vs Str+Melee if necessary) the duelist attempts to twist his opponents klaive out of their hands. His opponent's blade will land one yard away for each net success. If he botches, he looses his own weapon.
					</p>
					<b>&#9679;&#9679; Blind</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 8<br>
						Actions 1
					</p>
					<p>
						Garou bleed profusely from any wound inflicted by a Klaive. Some sneaky duelists attempt to take advantage of this to blind their opponents. A single swipe to the forehead can send blood pouring into he opponents eyes for the rest of the fight. Should this maneuver succeed, all the opponents attack rolls as well as parries and dodges are increased by 1.
					</p>
					<b>&#9679;&#9679;&#9679; Riposte</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 4<br>
						Actions 1
					</p>
					<p>
						The duelist makes a swift attack at his exposed opponent.<br>
 						This attack is resolved immediately regardless of what current Action occurs. This maneuver may only be used directly after a Parry Maneuver.
					</p>
					<b>&#9679;&#9679;&#9679; Fleche</b>
					<p>
						Roll Dex+Athletics<br>
						Diff 7<br>
						Actions 3
					</p>
					<p>
						The duelist launches himself in an all out attack at the opponent, blade first. After the strike, the duelist comes to a halt some distance behind his opponent, and is vulnerable for an action as he regains his balance (cannot dodge for one action after this attack).
					</p>
					<b>&#9679;&#9679;&#9679;&#9679; Prise d’ Argent - Pressing The Silver</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 4<br>
						Actions 1
					</p>
					<p>
						This maneuver, much favored by Silver Fang duelists, uses the opponent’s blade as a guide for an attack. The duelist slides his Klaive along his opponent’s blade and drives it into her body. This Maneuver can only be done on the next action, after a successful Riposte or Parry Maneuver has been performed.
					</p>
					<b>&#9679;&#9679;&#9679;&#9679; Silver Shield</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 7<br>
						Actions 1
					</p>
					<p>
						Using his speed and the bluk of his klaive, the duelist creates a shield of silver in front of him. Each success scored on this roll may be added to any parry attempts during this turn
					</p>
					<b>&#9679;&#9679;&#9679;&#9679;&#9679; Swinging Slash</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 7<br>
						Damage: +3 Dice<br>
						Actions 2
					</p>
					<p>
						The duelist commits his whole effort into a single, massive swipe at his opponent, exposing himself, but hoping to do enough damage to make that irrelevant.<br>
						Diff of any further actions this turn is increased by 2
					</p>
					<b>&#9679;&#9679;&#9679;&#9679;&#9679; Stop Hit</b>
					<p>
						Roll Dex+Klaviskar<br>
						Diff 7<br>
						Damage: +2 Dice<br>
						Actions 2
					</p>
					<p>
						A duelist who has initiative over her opponent can choose to defer her action until her opponent acts. If her opponent attempts to attack, the duellist attempts to step inside his guard and deliver a fast, deadly blow that stops the opponent in her tracks, using her own forward momentum to make the blow more deadly. This attack cannot be parried or dodged, because the opponent is already committed. However, if the Stop Hit fails to incapacitate or knock down the opponent, the duelist cannot dodge or parry the attack.
					</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>