<div class="row">
	<div class="col">
		<h1>Combat Stages:</h1>
			<p>Combat is divided into a series of three-second turns.
				Each combat turn has three stages to make it easier to keep track
				of things.
			</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<ngb-tabset>
				<ngb-tab title="Initiative stage">
					<ng-template ngbTabContent>
						<br>
						<h2>Initiative</h2>
						<p>
							Once combat begins, each player rolls initiative for
							his or her character. To do this, roll one die and then add
							it to your character’s initiative rating (Dexterity + Wits).
						</p>
						<p>
							The character with the highest initiative acts first, the
							second-highest goes next, and so on down the line. The
							Storyteller handles initiative for each of his characters
							too, and might decide for simplicity’s sake to have them
							all act on the same initiative.
						</p>
						<hr>
						<p>
							Ties are resolved by using the highest initiative rating;
							if those are tied too, you could decide this tie in favor of the
							character with the highest Wits or Dexterity (highest rating
							wins). In story terms, both characters act simultaneously,
							and the effects of their actions hit home at the same time.
						</p>
						<p>
							Technically, you can roll a new initiative each turn.
							To speed things along, though, you might decide to simply
							have everyone roll one initiative for that particular combat
							session and then stick with it for the rest of the scene.
							The Storyteller must decide which option applies before
							the action starts. Don’t try to use both options within the
							same scene — it’ll get messy.

						</p>
						<p>
							Now, each player declares what his or her character
							is doing this turn. Characters with the highest initiatives
							act first, but their players declare their actions last
							so that they can anticipate and react to what the slower
							characters do. If you’re choosing to spend Rage this turn,
							this stage is the time to declare that you’re doing so.
						</p>
						<p>
							From the highest initiative down, each player makes
							the necessary rolls to reflect the character activities. As
							the dice decide the results, the players and Storyteller
							describe the dramatic effects. Have fun with this! A bland
							“You lose three health levels” pales in comparison to “His
							claws rip a gaping hole in your side, scraping the bone and
							sending a shower of blood and flesh flying — lose three
							health levels and feel the pain!”
						</p>
						<hr>
						<p>
							Remember that wound penalties subtract directly
							from a character’s initiative rating.
						</p>
						<p>
							<b>OPTIONAL RULE: PACK INITIATIVE</b>
							Werewolves are pack animals bound by uncanny
							instincts. To reflect this element, you might allow a
							pack of Garou who share a single totem to share a single
							initiative roll as well. Assuming that the packmates agree
							on this course of action, the pack’s alpha makes the roll
							for the entire pack and then, for the duration of that
							scene, each werewolf in that pack acts in the order of
							their individual Dexterity Traits, highest down to lowest.
							Ties can be resolved either with a coin flip, a dice roll,
							according to the pack hierarchy, or simply by saying,
							“Hey, it’s cool — you go first, and I’ll follow your lead.”
							The roll itself can be based on either the alpha
							character’s own initiative rating, or on the average of
							all the packmates’ initiative ratings — that is, their
							initiative ratings added together and then divided by
							the number of packmates involved in that fight. The
							“group average method” would probably work best un-
							less the alpha has a higher base than the other Garou;
							for simplicity’s sake, though, you may want to figure
							out that group initiative base before the fur starts flying.
						</p>
					</ng-template>
					<
				</ngb-tab>
				<ngb-tab title="Attack stage">
					<ng-template ngbTabContent>
						<br>
						<h2>Attack:</h2>
						<p>
							When the blood hits the fan, the dice pool you employ
							depends upon what your character is doing that turn:
						</p>
						<p>
							If your character doesn’t have points in
							the necessary Ability, fall back to the Attribute (Dexterity).
						</p>
						<hr>
						<p>
							<b>Close Combat: </b> Dexterity + Brawl (unarmed) or Dexterity + Melee (armed).
						</p>
						<p>
							<b>
							Ranged Combat: 	</b>Dexterity + Firearms (guns)
							or Dexterity + Athletics (thrown weapons).
						</p>
						<hr>
						<p><b>Most attacks are made versus difficulty 6.</b></p>
						<p>
							This can be adjusted however for situational modifiers like long range or cramped quarters.
						</p>
						<p>
							In ranged combat, your weapon may modify your dice
							pool or difficulty (due to rate of fire, a targeting scope, etc.); check the weapon’s statistics for details.
						</p>
						<p>
							Any extra successes you get above the first adds one die to your damage roll.
						</p>
						<hr>
						<p>
							Remember you can abort your action at any time to do a defensive maneuver as long as your character hasn't made an action yet.
						</p>
						<p>
							Aborting requires you to roll a willpower rating of 6 or use a willpower point. Doing so allows you to do a block, dodge or parry. (See Defensive Maneuvers)
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Resolution stage">
					<ng-template ngbTabContent>
						<br>
						<h2>Resolution:</h2>
						<p>
							Once the attacks have landed, the players determine how
							much damage the combatants have inflicted and received.
							To figure out how much damage has been inflicted,
							the attacking player rolls her dice pool against difficulty
							6. Each success deals out one health level of damage.
						</p>
						<p>
							Really successful attacks inflict more damage. For each
							success above the first one that the player scores on her attack
							roll, she adds one more die to the damage dice pool. (Three
							successes would add two more dice, etc.) This way, skilled or
							lucky combatants can make hamburger of their opponents.
							Thankfully, werewolves heal with devastating speed.
						</p>
						<p>
							<b>Example:</b> You have an axe (Strength +3 damage), your strength is two. If you get one success, you roll 5 dice. If you get three successes, you roll 7 dice.
						</p>
						<p>
							After damage have been rolled against your character, you are allowed to do a soak roll. 
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Soaking">
					<ng-template ngbTabContent>
						<br>
						<h2>Soaking:</h2>
						<p>
							Living beings tend to be fairly resilient, and so
							characters who take damage can try to “soak” it before
							subtracting health levels from those injuries. To soak damage, roll your character’s Stamina against a difficulty
							determined by the damage:
						</p>
						<p>
							Bashing damage can be soaked by any character
							at difficulty 6.
						</p>
						<p>
							Lethal damage can be soaked by Garou and many
							other supernatural creatures at difficulty 6. Humans can-
							not normally soak lethal damage, although exceptionally
							tough ones may be able to try and soak it (Storyteller’s
							option) at difficulty 8.
						</p>
						<p>
							Aggravated damage, other than that inflicted by
							silver, can be soaked by Garou at difficulty 6 in any form
							except their breed form. Silver damage cannot be soaked
							in any form except the breed form, and metis Garou can’t
							soak it at all. To homid and lupus Garou, silver stings
							exposed skin when those werewolves are in their breed
							forms, but inflicts damage only if it’s been fashioned into
							weapons... in which case blades or bullets are lethal and
							blunt-force weapons deal out bashing damage. Non-
							Garou, of course, can’t soak aggravated damage at
							all unless they have some form of supernatural
							resistance to such injuries.
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Spending Rage">
				<ng-template ngbTabContent>
					<br>
					<h1>Spending Rage</h1>
					<p>
						The sacred fury within all Garou allows a player
						to spend Rage points in order to perform the following feats:
					</p>
					<ul>
						<li>
							<p>
								<b>Take Extra Actions:</b> For each point of Rage
								spent, the character can take one extra action that
								turn. The player must declare that she’s spending
								Rage for extra actions at the beginning of that turn.
								Once she decides to spend those Rage points, they’re
								officially spent, and cannot be used for anything else
								that turn. Other limits apply, too – see below.
							</p>
						</li>
						<li>
							<p>
								<b> Change Forms:</b>
								At any point in the turn, a
								player can decide to spend a point of Rage, 
								immediately shifting his werewolf into any one of the five
								Garou forms.
							</p>
						</li>
						<li>
							<p>
								<b> Ignore Stunning:</b>
								Under normal circumstances,
								a character who takes a lot of damage is stunned,
								and cannot act for the remainder of that turn.
								A werewolf, however, can spend
								a Rage point that turn and keep moving normally.
							</p>
						</li>
						<li>
							<p>
								<b> Ignore Pain:</b>
								In similar fashion, a werewolf
								player can spend a point of Rage to let her character
								ignore the dice penalty for one health level worth
								of damage. This option does not heal the damage,
								it lasts for only one turn, and it alleviates only one
								health level’s penalty for each point of Rage spent this
								way. After that turn, the pain-penalties kick in again.
							</p>
						</li>
					</ul>
					<h3>Extra Action Limitations</h3>
					<p>
						<b>Rage Score:</b> 
						Within a single turn, a player
						can spend up to half his character’s permanent Rage
						score in Rage points (rounded up) when getting
						extra actions. A Garou with Rage 5, for example,
						can spend three Rage for three extra actions that
						turn. The player could spend more Rage in order to
						ignore stunning or pain, but cannot get more than
						three extra actions that turn.
					</p>
					<p>
						<b>Timing:</b> 
						Rage spent for extra actions must be
						declared at the beginning of the turn. Other Rage
						expenditures can be declared at any point within
						that turn.
					</p>
					<p>
						<b>Speed:</b> 
						In a single turn, a character can take
						only as many “normal” extra actions as she has dots
						in either her Dexterity or Wits, whichever is lower.
						A Dexterity 4/Wits 3 Garou, for instance, could take
						only three extra actions without incurring a penalty.
						If her player chooses to exceed that limit, she suffers
						a +3 penalty to all difficulties that turn. Essentially,
						the werewolf is trying to go too fast for her body
						(Dexterity) or mind (Wits) to process. If she happens
						to be in frenzy, however, her Rage actions are limited
						only by her Dexterity, as she’s pretty much “beyond
						her wits” to start with.
					</p>
				</ng-template>
			</ngb-tab>
				<ngb-tab title="Summary">
					<ng-template ngbTabContent>
						<br>
						<h1>Quick summary:</h1>
						<h4>Stage 1: Initiative</h4>
						<p>
							Roll initiative (<b>1x D10 + Dexterity + Wits</b>).
						</p>
						<p>
							Everyone declares their actions in reverse order to let faster character act on slower characters. The character with highest initiative performs her action first. Actions can be delayed to any time later in the order of initiative.
						</p>
						<p>
							Declare any multiple actions, reducing dice
							pools accordingly. Declare Rage expenditure.
						</p>
						<hr>
						<h4>Stage 2: Attack</h4>
						<p>Uarmed close-combat attacks, roll <b>Dexterity + Brawl.</b></p>
						<p> Armed close-combat attacks, roll <b>Dexterity + Melee.</b></p>
						<p>Guns, roll <b>Dexterity + Firearms</b>.</p>
						<p>Thrown weapons, roll <b>Dexterity + Athletics</b>.</p>
						<p>
							A character can abort to a defensive action
							(block, dodge, parry) at any time before her
							action is performed, as long as you make a
							successful Willpower roll (or a Willpower
							point is spent).
						</p>
						<hr>
						<h4>Stage 3: Resolution</h4>
						<p>
							Determine total damage effect (weapon type or maneuver), adding any extra dice gained from successes on the attack roll.
						</p>
						<p>
							Targets may attempt to soak damage, if possible.
						</p>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
	</div>
</div>