<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
			<h1>Tribes</h1>
			<p> 
				The tradition of werewolves coming together in packs 
				of one tribe is long past, as the Garou are now too few 
				in number to have that luxury. Instead, packs consist of 
				werewolves from many tribes, who each bring their own 
				context for who the Garou are and how they can best 
				fight the Wyrm. Each tribe has a spirit totem that reflects 
				the tribe’s characteristics. Some tribes have ties to various 
				human cultures and ethnicities, though the strength of 
				these ties is waning. Choose your character’s tribe with 
				care, as it will impact both her background, and her choice 
				of Backgrounds.
				Players can choose any of the 13 tribes of the Garou 
				Nation. The tribes are described further under the <a href="/tribes/Furies">"Tribes"</a> section.
			</p>
		</div>
	</div>