<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
			<h1>The D10 System</h1>
			<img id="d10image" class="img-fluid" src="assets/D10.png">
			<p> Werewolf puts the success and failure of most actions
				in the hands of chance and fate. Specifically, the agents of
				chance are a number of 10-sided dice. You can find these
				in most game stores, buy them from online retailers, or
				simulate the experience with software dice rollers 
				(including a number of excellent mobile apps). The Storyteller
				will need some dice, as will the players — while the players
				can share, the Storyteller needs some dice to make rolls
				with in secret. Both the players and the Storyteller should
				have at least 10 dice each to start with.
			</p>
			<ngb-tabset>
				<ngb-tab title="Dice Pools">
					<ng-template ngbTabContent>
						<br>
						<h2>Dice Pools</h2>
						<p>
							When you roll dice, you roll one die for each dot a
							character has in a Trait. For example, if your character
							is trying to remember a license plate number, and he
							has three dots in Intelligence, you would roll three dice.
							However, it is very rare to roll an Attribute Trait all by
							itself. Raw potential is modified by skill, and most rolls
							add together the dots in an Attribute and an appropriate
							Ability for the action.
						</p>
						<p>
							For example, your character comes up with an
							elaborate lie to convince a pack of Red Talons to leave
							a human family alone. The Storyteller might ask you to
							roll Manipulation + Subterfuge: an Attribute plus an
							Ability. If your character has three dots of Manipulation, 
							you’d take three dice, plus one more die for every
							dot of Subterfuge — say two dots, so two more dice. You
							therefore roll five dice in total to see whether your lie is
							convincing enough that the Red Talons fall for it. The
							total number of dice rolled for any action is called the dice
							pool.
						</p>
						<p>
							Most of the time, you calculate dice pools for only
							one action at a time, though you can modify it to take
							multiple actions in a single turn (for more information,

						</p>
						<p>
							Though most actions combine an Attribute and an
							Ability into a dice pool, some actions require only an
							Attribute. Breaking down a door relies on the Strength
							Attribute alone, so no Ability is added to the dice pool.
						</p>
						<p>
							A dice pool can’t draw from more than two Traits. In
							addition, if your dice pool involves a Trait with a maximum
							rating of 10 (such as Rage or Willpower), you can’t add any
							other Traits to your dice pool. It is effectively impossible
							for a normal human to have more than 10 dice in a dice
							pool. On the other hand, totem benefits and the Attribute
							modifications of a werewolf’s forms can sometimes help
							Garou overcome the limitations of a mere mortal.
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Difficulty">
					<ng-template ngbTabContent>
						<br>
						<h2>Difficulties</h2>
						<p>
							There’s no point in rolling the dice unless you know
							what number you’re looking for. The Storyteller assigns
							each action an appropriate difficulty number and tells the
							player what it is. A difficulty number is always from 2
							to 10 (and usually between 3 and 9). Every die a player
							rolls that comes up equal to or higher than the difficulty
							number is one success. 
						</p>
						<p>
							If the Storyteller assigns a difficulty
							of 6 and you roll 5, 4, 8, 8, 2 and 6, then you have gained 
							three successes.
						</p>
						<p>
							You need only one success to accomplish
							a task, but that success is marginal at best. If you score
							three or more successes, you have succeeded completely.
							Getting five or more successes is a momentous event.
							A die that shows a 10 is always a success, no matter the
							difficulty number.

						</p>
												<hr class="col-sm-8">
						<p><b>Levels of Difficulty</b> (number you need to roll to succeed):</p>
						<ul class="text-left">
							<li>Three: Trivial (scanning a small crowd for a familiar face)</li>
							<li>Four: Easy (following a trail of blood by scent)</li>
							<li>Five: Straightforward (harrying prey that’s old or ill)</li>
							<li>Six: Standard (firing a gun)</li>
							<li>Seven: Challenging Challenging (discovering a hiding spirit)</li>
							<li>Eight: Difficult (convincing a cop that your unlicensed gun isn’t his problem)</li>
							<li>Nine: Extremely difficult (walking a tightrope)</li>
						</ul>
						<hr class="col-sm-8">
						<p><b>Degrees of Success</b> (number dice at or above the difficulty):</p>
						<ul class="text-left">
							<li><b>One success:</b>  Marginal (keep a broken refrigerator running until the repairman arrives)</li>
							<li><b>Two successes:</b>  Moderate (making a handicraft that’s ugly but useful)</li>
							<li><b>Three successes:</b>  Complete (fixing something so that it’s good as new)</li>
							<li><b>Four successes:</b> Exceptional (increasing your car’s efficiency in the process of repairing it)</li>
							<li><b>Five or more:</b> Phenomenal (creating a masterwork.)</li>
						</ul>
									<hr class="col-sm-8">
						<h2>Automatic Success:</h2>
						<p>
							You know how to do it so well that you could do it
							in your sleep. Your Garou has more training in the field
							than you do. So why should you have to roll? Well, you
							shouldn’t. Anything that streamlines play and reduces
							distraction is a good thing. To that end, Werewolf has a
							simple system for automatic successes, allowing you to skip
							rolls for tasks that your character would find mundane.
						</p>
						<p>
							If the number of dice you have in your dice pool is equal
							to or greater than the difficulty number, your character
							succeeds automatically. No dice are rolled. This system
							doesn’t work for all tasks: if you’re in combat, or another
							stressful situation like trying to escape a burning building,
							you can’t take an automatic success.
						</p>
						<p>
							Further, an automatic success is the same as rolling only one success on the roll.
							For basic and repeated actions that’s often just fine. If you
							want to roll it — if you want to try for more than one
							success — you can, though you do risk failure. You don’t
							have to take an automatic success if you don’t want to.

						</p>
						<p>
							You can get an automatic success on a roll in another
							way: Spend a Willpower point (p. 147). You can only do
							this once per turn, and you can’t do it too often, but it
							does guarantee that when you roll, you’ll have at least
							one success — and that success counts when it comes
							to holding off botches as well. It’s a handy thing to have
							when the stakes are high.
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Failures/Botches">
					<ng-template ngbTabContent>
						<br>
						<h2>Failure:</h2>
						<p>
							If you score no successes on your roll, your character
							failed his attempted action. He missed his shot. She
							couldn’t break the code. He forgot the punch-line of the
							joke. Failure, while disappointing, is not nearly as bad as
							what can happen if you botch a roll (below).
						</p>
						<p> 
							<b>Example:</b> Jane’s character, Two-Skulls, is trying to
							follow the trail of a group of hunters. The Storyteller tells
							her to roll Perception + Survival (difficulty 7). She rolls,
							and her dice come up 4, 5, 3, 5, 6, 6 — no successes.
							Two-Skulls loses the humans’ trail near a river. As she’s
							trying to regain their scent, she blunders into their camp!
						</p>
						<h2>Botches</h2>
						<p>
							Everyone has bad days and the Garou are no exception. 
							In addition to success and failure, a roll can also
							be a botch. When a die comes up a 1, that 1 cancels out
							a success. Take the 1 die and any one success, and set
							them both aside. Do the same for every 1 that turns up
							on a roll. Thus, even seemingly successful actions can be
							reduced to nothing.
						</p>
						<p>
							Sometimes, fate is watching the character in order to
							really fuck him up. If all of your dice land with no successes
							showing and any of them is a 1, you have just botched
							that action. Even one success can cancel the botch out.
							If you have one success and seven 1s on your roll, it’s still
							just a failure. It is only when you roll no successes that
							botches occur.
						</p>
						<p>
							A botch is much worse than a failure — it’s a dramatically 
							appropriate misfortune, the worst-case outcome from
							any action that calls for a dice roll. Botching a Stealth
							roll when breaking in to an office block means tripping
							the alarms and making so much noise that security is
							waiting for you. Botch a Firearms roll when you’ve got a
							bead on the Wyrm-tainted councilor, and your gun jams.
						</p>
						<p>
							If Two-Skulls had botched rather than failing, he’d have
							walked straight into one of the hunters’ traps and made
							enough noise that the whole group descended with guns
							at the ready.
						</p>
						<p>
							The Storyteller decides exactly what goes
							wrong; a botch may produce a minor inconvenience or
							might result in wholesale catastrophe.
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Actions">
					<ng-template ngbTabContent>
						<br>
						<h2>Actions</h2>
						<p>
							Over the course of the game, your character will do
							many things. Most of the time, those things are fairly
							simple, and thus don’t require a roll, like walking across
							the street, or reading the news on a smartphone. Actions,
							by contrast, are anything that might produce an interesting 
							outcome to the direction the story takes. Using a Gift,
							“accidentally” stabbing a challenger in the gut with your
							klaive, hiding while watching two of your packmates
							breaking the Litany, chasing a rival pack across the rooftops 
							— these are actions, and their success or failure will
							alter the outcome of the story. An action typically takes
							one turn to complete.

						</p>
							<p>
								If you need only one success to accomplish an action,
								the action in question is called a <b>simple action</b>. Actions
								that require more successes or longer periods of time to
								complete are called <b>extended actions</b>. See p. 237 for more
								information on extended actions.
							</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Multiple Actions">
					<ng-template ngbTabContent>
						<br>
						<h2>Multiple Actions</h2>
						<p>
							Sometimes, a player wants his character to perform
							more than one action in a single turn, such as climbing
							a tree while remaining quiet, or sidestepping an 
							incoming attack and clawing at his opponent’s belly. In these
							situations, the player can roll for all the actions, but each
							one suffers a penalty.
						</p>
						<p>
							The player first declares how many actions the character 
							will take in a turn, and determines which one has the
							smallest dice pool. He may then allocate that number of
							dice among the actions as he sees fit, though each action
							must have at least one die allocated to it.
						</p>
						<p>
							<b>Example:</b> Stew wants his character, Steel-Trap-Mind, 
							to kick the teeth out of the guy threatening him,
							while using his obvious physical superiority to scare the
							crap out of the thugs on both sides of him. The Glass
							Walker Philodox has Dexterity 2, Brawl 3, Charisma 4,
							and Intimidation 3. The boot to the head has a dice pool
							of five, while the intimidation attempt has seven dice. Five
							dice is the smaller pool, and Stew assigns three of those to
							kicking the guy, and the remaining two to scaring his friends.
						</p>
						<p>
							Rage makes this situation a whole different story,
							since it can give a Garou extra actions in a single turn
							without splitting one dice pool. These extra actions cannot 
							themselves be split.
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Reflexive Actions">
					<ng-template ngbTabContent>
						<br>
						<h2>Reflexive Actions</h2>
						<p>
							Sometimes, it doesn’t take an appreciable length of
							time to take a significant action. Instinctual reactions happen as your character is acting. Such actions are called reflexive actions, 
							and performing one may break the normal sequence of action resolution. 
							A player doesn’t have to “take an action” as described above to use a reflexive
							action. 
						</p>
						<p>
							Your character can perform one whenever the
							opportunity arises, and may also take his normal action,
							without any penalty.
						</p>
						<p>
							Soaking damage from an attack doesn’t take any appreciable time, for example. 
							Spending a point of Rage to take another form takes less than a second — it doesn’t
							require a dice roll, and your character can do it while focusing on something else, 
							like gutting the fomor that tore her packmate’s arm off.
						</p>
						<p>
							To perform a reflexive action, the character must
							usually be conscious and thus able to decide to perform
							the action (though not always — characters still soak
							damage when unconscious, for example). Unless otherwise specified, 
							a character can perform any number of reflexive actions, 
							and they don’t prevent her from taking other actions in the same turn.
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Extended Actions">
					<ng-template ngbTabContent>
						<br>
						<h2>Extended Actions</h2>
						<p>
							When you need multiple successes to accomplish even a marginal
							success at the task in question, that action is an extended
							action.
						</p>
						<p>
							In an extended action, you roll your dice pool again
							and again over subsequent turns, trying to collect enough
							successes to succeed. 
						</p>
						<p>
							<b>For example:</b>Your character has
							been chasing a fomor through the city streets on foot.
							The Wyrmspawn had ducked into a warehouse and
							slammed the door closed just as your character got there.
							The Storyteller rules that it will take 15 successes to get
							through the door, but your prey gets farther away each
							turn and has a better chance to set up an ambush. You
							will succeed eventually, but will you find the fomor? 
							<i>The Storyteller is the final authority on which situations are extended actions.</i>
						</p>
						<p>
							You can usually take as many turns as you need to
							finish an extended action. That said, the Garou seldom
							have the luxury of time. If any roll botches in the course
							of an extended action, it’s back to square one. You lose
							all accumulated successes, you have to start over with
							nothing, and the Storyteller’s probably got a whole new
							catastrophe for you to deal with.
						</p>
						<p>
							In some cases, the botch may wreck the situation so badly that you can’t start over
							at all; you’ve failed and that’s all there is to it. Time to
							move on.
						</p>
						<p>
							Some extended actions don’t break down on a
							turn-by-turn basis. One roll of an extended action can
							encompass any segment of game time that the Storyteller
							deems appropriate. For example, an Uktena researching a reawakened spirit might roll once for each night’s research. 
							A Shadow Lord might attempt a longterm seduction of a rival’s Kinfolk sister over
							the course of weeks. Many rites invoke extended actions that can take place over a long period of time.
						</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Resisted Actions">
					<ng-template ngbTabContent>
						<br>
						<h2>Resisted Actions</h2>
						<p>
							A simple difficulty number might not
							be enough to represent a struggle between
							characters. You may try to lose your tail
							in a daring car chase, while your pursuer
							tries to ram you off the road.
						</p>
						<p>
							In such a case, you’d make an opposed or resisted
							roll. Each participant rolls dice against a difficulty, 
							often determined by one of your opponent’s Traits. 
							The person who scores the most successes wins.
						</p>
						<p>
							In a resisted roll, you score only as many
							successes as it takes to exceed your opponent’s successes. 
							In other words, the opponent’s successes eliminate your own,
							just as 1s do.
						</p>
						<p>
							If you score four successes and your opponent scores three, 
							you are left with only one success: a marginal success. 
						</p>
						<p>
							Some actions (such as arm-wrestling, debating, or
							cat-and-mouse chases) may be both extended and resisted.
							In these cases, one of the participants must achieve a
							certain number of successes to triumph. On each roll, the
							player who scores higher adds the successes he got over
							his opponent to a running tally. The winner is the first
							to reach the required number of successes.
						</p>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
	</div>
</div>