<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
			<h1>Auspices</h1>
			<p> 
				Gaia is the Mother, but werewolves also feel a powerful 
				spiritual bond to her sister Luna. Whatever else happens, 
				when the moon is in the sky, the Garou feel stronger. The 
				influence of Luna provides a blessing at birth that guides 
				each werewolf ’s spiritual path. This path, this blessing, 
				is called the auspice.
			</p>
			<p>
				An auspice is many things. It may influence the werewolf ’s general personality traits, attitudes and interests; it 
				strongly influences his duties in the pack. All auspices are 
				important, for no werewolf can be all things to his people. 
				Each specialty strengthens the pack as a whole when they 
				focus as one. Auspice also determines the inner Rage of 
				the werewolf. Some Garou mothers try to use herbs or 
				other methods to induce labor under a specific moon, 
				which is one of the reasons that Ragabash and Ahroun 
				are roughly as common as the other three auspices, even 
				though the full moon and new moon appear only half as 
				often as any other phase.
			</p>
			<p>
				Each young werewolf studies with an elder of the same 
				auspice, learning particular Gifts and the role Luna has 
				decreed for him in werewolf society. Many werewolves 
				introduce themselves by auspice and tribe to one another: 
				“Kolvar Irontongue, Ahroun to the Shadow Lords” says 
				volumes. Whether the werewolf was born under a waxing 
				or waning moon also shows some influence on his auspice 
				and temperament. The waxing moon is a sign of rising 
				Rage, while the waning moon hints at a cooler, more 
				somber personality. Players might take this aspect of a 
				character’s auspice into account when considering some 
				of the character’s minor personality quirks.
			</p>
			<p>
				Auspice is an influence, not a law. Some werewolves 
				discover they’re badly suited for the blessing of their birth 
				moon. Even though doing so is a direct insult to Luna, 
				they may change auspices by renouncing their former 
				auspice and identity through a Rite of Renunciation. 
				This rite is a grave thing for any werewolf to consider. 
				In addition to losing any former rank and Gifts to begin 
				in his new auspice at Rank 1, he’s sure to face the deep 
				mistrust of others until he has proven his decision more 
				than justified, if not for the rest of his life. 
			</p>
			<ngb-tabset>
				<ngb-tab title="Ragabash">
					<ng-template ngbTabContent>
						<br>
						<h2>Ragabash: <br>The New Moon, The Trickster</h2>
						<br><br>
						<div id="quote" class="row">
							<p class="col-sm">
								Oh, what you’ve described is technically a plan, I suppose.<br> 
								The sort of plan a drooling, brain-dead savage might create, but still a plan. <br>
								Hey, easy! I wasn’t talking about you, I was talking about the drooling, brain-dead savages massing on our border. <br>
								I’ve overheard their plans, and they were largely the same as yours. Perhaps you might like to rethink your approach? 
							</p>
						</div>
						<br>
						<p>
							The Ragabash is the mythic trickster, the fool who 
							is alternately foolish and wise. He plays the role of the 
							contrary, questioning tradition in order to find the wisest 
							path. Although the New Moon may seem disrespectful, 
							his wry humor and incisive insights are meant to serve the 
							greater good of the Garou. The clever Ragabash doesn’t 
							question every decision — only those that need it. In the 
							field, the New Moon is a cunning scout and unconventional tactician, leading the enemy into ambushes and 
							striking at their soft underbellies when they least expect it.
						</p>
						<p>
							While other auspices have fairly set roles within their 
							sept and tribe, the Ragabash is usually left to his own 
							devises. He has the gift of flexibility: the opportunity 
							to explore options usually off-limits to other Garou. His 
							insights are sometimes unwelcome, but frequently worthy. 
							When there’s tension in the air, the Ragabash is usually 
							the one to lift it, even if it means putting himself at risk of 
							violence at the hands of a humorless Ahroun. But the New 
							Moon frequently risks it anyway — what sort of trickster 
							would he be if he was afraid to do something unpopular?
						</p>
						<br>
							<h5>Initial Rage:</h5> 1
							<br>
							<br>
							<h5>Beginning Gifts:</h5> Blur of the Milky Eye, Infectious Laughter, Liar’s Face, Open Seal, Scent of Running Water
							<br>
							<br>
							<h5>Stereotype:</h5>
							<p>
								The Ragabash born under the waxing 
								new moon is usually light-hearted and capricious, while 
								one born under the waning new moon has a slightly more 
								wicked and ruthless streak. It’s a rare Ragabash indeed that 
								lacks a keen wit and the capacity to find some humor in any 
								situation, no matter how bleak. Many other werewolves are 
								slow to take the Ragabash seriously, though, as it’s difficult 
								to tell the difference between a New Moon’s mockery that 
								points out a grievous flaw in a plan and similar mockery 
								that simply amuses him. Sometimes a Ragabash points 
								out that the emperor has no clothes — but sometimes 
								they’re the first to cry wolf, so to speak.
							</p>
						<br>
						<br>

					</ng-template>
				</ngb-tab>
				<ngb-tab title="Theurge">
					<ng-template ngbTabContent>
						<br>
						<h2>Theurge: <br>The Crescent Moon, The Seer<br></h2>
						<br><br>
						<div id="quote" class="row">
							<p class="col-sm">
								I hear their voices.<br> 
								The earth grows hot with anger. <br>
								The wind is cold with scorn. They are all around us,awaiting my call. 
							</p>
						</div>
						<br>
						<p>
							The sickle-shaped crescent moon grants the gift of 
							insight. The Theurges are the mystics of the Garou, closer 
							than any to the Umbra and its denizens. They peer deep 
							into the shadowed recesses of the spirit world, and are 
							tasked with dealing with the secrets they find there — 
							one way or another.  
						</p>
						<p>
							Some call these seers the daydreamers of the werewolves, and many do seem to be a bit detached from their brethren. They can see and hear things that others cannot, as if they live half in the world of the physical and half in the world of the spirit. For all her alien solitude, though, the Theurge holds an important place in any pack. 
							Without her, the werewolves would forget the spiritual 
							side of their nature. They might wander lost and blind if 
							they did not have her visions and dreams to guide them.
						</p>
						<br>
							<h5>Initial Rage:</h5> 2
							<br>
							<br>
							<h5>Beginning Gifts:</h5> Mother’s Touch, Sense Wyrm, Spirit Snare, Spirit Speech, Umbral Tether
							<br>
							<br>
							<h5>Stereotype:</h5> 
							<p>
								 The Crescent Moons can be strange and 
								 enigmatic, prone to falling into the convoluted symbolic 
								 logic of the spirits they truck with rather than the more 
								 familiar logic of humanity. Those Theurges born under the 
								 waning moon frequently have a harsher, more adversarial 
								 relationship with the spirit world — they tend to excel 
								 at binding and forcing spirits to their will, and are more 
								 vicious when battling spirits. Theurges born under the 
								 waxing moon tend to be more generous and open with 
								 the spirits, charming and cajoling rather than intimidating and threatening.
							</p>
						<br>
						<br>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Philodox">
					<ng-template ngbTabContent>
						<br>
						<h2>Philodox: <br>The Half Moon, The Mediator<br></h2>
						<br>
						<div id="quote" class="row">
							<p class="col-sm">
								You abandoned your post to aid a packmate. <br>
								To save another Garou’s life is commendable; to think of your packmate before yourself is proper. <br>
								But to put the sept in danger is foolish and disregards the lives of your fellows. <br>You must pay the price for that. I levy the punishment of ordeal. <br>
								Perhaps your love of your pack will encourage you to excel here and wipe the stain from your honor.
							</p>
						</div>
						<br><br>
						<p>
							The half moon is balance and duality, standing between two worlds. The Garou is both wolf and human, flesh and spirit, fury and wisdom, savage and savant. The 
							Philodox embraces this duality, attempting to harness it 
							with balance. The Half Moon acts as counselor, mediator 
							and law-keeper to his pack. Where the Ragabash must 
							question the laws, the Philodox must interpret them, 
							finding the wisest answer out of many. 
						</p>
						<p>
							Half Moons are called to judge, for better or for worse. 
							Theirs is the task to set punishment when the Garou stray 
							from the path, and to determine when a werewolf ’s actions 
							are particularly meritorious. They are frequently leaders 
							in times of peace, but often cede command to Ahroun or 
							Galliards when war breaks out. 
						</p>
						<br>
							<h5>Initial Rage:</h5> 3
							<br>
							<br>
							<h5>Beginning Gifts:</h5> Fangs of Judgment, Persuasion, Resist Pain, Scent of the True Form, Truth of Gaia
							<br>
							<br>
							<h5>Stereotype:</h5> 
							<p>
							Buried so heavily in his role as impartial 
							judge and jury, the Philodox may seem aloof, even surprisingly cold-blooded for a werewolf. Those born under 
							the waxing Half Moon may seem unusually serene and 
							disaffected, their emotions only emerging when their 
							Rage comes to a boil. The waning-moon Philodox is 
							more incisive and judgmental, his all-seeing eye always 
							carefully watching his packmates and colleagues for any 
							departure from the expected. The Half Moons’ opinions 
							are somewhat feared, yet highly respected — a word of 
							praise or condemnation means much coming from those 
							born to see both sides of every struggle.
							</p>
						<br>
						<br>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Galliard">
					<ng-template ngbTabContent>
						<br>
						<h2>Galliard: <br>The Gibbous Moon, The Moon Dancer<br></h2>
						<br>
						<div id="quote" class="row">
							<p class="col-sm">
								You should be afraid, brothers and sisters. <br>
								This is Kyrrth’takla, Beast of a Thousand Mouths, they have awoken. <br>
								The stories of its strength are terrifying. But I know you. I’ve been honored to fight alongside you, and I know you will not be afraid. <br>
								What you want is the glory of tearing this abomination apart and my brothers and sisters, we will have it!
							</p>
						</div>
						<br><br>
						<p>
							The Galliard sings the soul of the Garou to the near-full 
							moon, howling of their joys and sorrows, their triumphs 
							and losses. She is the voice of the People, calling them 
							to battle and inspiring them to greatness in life and in 
							death. She is also a keeper of traditions, carrying the lore 
							of tribes all the way back to the beginning. 
						</p>
						<p>
							A Galliard can rouse the pack from self-pity and suffering when their claws are needed for battle. She can speak caution to a Ragabash, draw a Theurge from his reverie, 
							soften the heart of a Philodox, and soothe the anger of an 
							Ahroun. The Galliard’s art and performance may take many 
							forms — she might be a dancer, a storyteller, a musician or a 
							bit of everything rolled into one. She may even be a leader 
							in times of war. When the battle is done, hers is the voice 
							first raised to praise the sacrifices made by the fallen, and the 
							triumphs of those who still live to fight again.
						</p>
						<br>
							<h5>Initial Rage:</h5> 4
							<br>
							<br>
							<h5>Beginning Gifts:</h5> Beast Speech, Call of the Wyld, Heightened Senses, Mindspeak, Perfect Recall
							<br>
							<br>
							<h5>Stereotype:</h5> 
							<p>
							 Where the Philodox is stoic, the Galliard 
							 is a creature of unbridled passion. The Gibbous Moon is 
							 a fiery muse, and stirs its children into great heights and 
							 depths of emotion. While all Galliards are prone to immense mirth and immense melancholy, those born under 
							 a waning moon fall more readily into dark, consuming 
							 passions; they are the tragedians of the Garou, mastering 
							 tales of doom, ruin, sacrifice and loss. Conversely, their 
							 waxing-moon cousins sing of triumph and conquest, of 
							 the pounding heart and the love of life. They tend to be 
							 the soul of their pack’s morale — when the Galliard is 
							 willing to go on, so too are all the others. 
							</p>
						<br>
						<br>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Ahroun">
					<ng-template ngbTabContent>
						<br>
						<h2>Ahroun: <br>The Full Moon, The Warrior<br></h2>
						<br>
						<div id="quote" class="row">
							<p class="col-sm">
								No more running. <br>
								No more surrender. <br>
								Here we stand and here we fight. <br>
								We do not walk to Gaia’s arms tonight — we will swim there, in a river of our enemy’s blood! <br>
								Let them hear your howls and know true fear!
							</p>
						</div>
						<br><br>
						<p>
							The Garou’s connection to the moon is much more 
							extensive than human legends state. Every phase has its 
							secret, but human myth comes close to understanding the 
							truth in one aspect: the full moon floods the Warrior with 
							Rage. The Ahroun is the living weapon of Gaia, the lord 
							of bloodshed. He is the warrior among a race of warriors, 
							the champion of a martial people. He is ever ready to kill, 
							and to die if need be.
						</p>
						<p>
							The Ahroun are respected, but also treated with some 
							level of dread. Their killing instinct is inborn; even a Full 
							Moon just past his First Change is more lethal than many 
							veterans of other auspices. Their elders are few — it’s a 
							rare Ahroun that survives the countless battles that are his 
							birthright — but all the more terrifying for their experience. Like the Galliard, the Ahroun is an inspiring leader 
							in time of war, but he leads with deeds and action. He is 
							first into battle and last to retreat — if he ever retreats at 
							all. In times of peace, he relinquishes command to others, 
							but remains ever vigilant, knowing his talent for war will 
							be needed again all too soon.
						</p>
						<br>
							<h5>Initial Rage:</h5> 5
							<br>
							<br>
							<h5>Beginning Gifts:</h5>  Falling Touch, Inspiration, Pack Tactics, Razor Claws, Spur Claws
							<br>
							<br>
							<h5>Stereotype:</h5> 
							<p>
							 The Ahroun is the archetype of the 
							 werewolf as murderous beast, though they range from 
							 unapologetic berserkers to hardened veterans tempering 
							 their Rage with discipline. Their high levels of Rage put 
							 them on the edge at all times — the Full Moon’s blessing is a hair trigger, among other things. Those closer to 
							 the waxing moon tend to exult in the glory of the war, 
							 while those closer to the waning moon are more viciously 
							 pragmatic, ruthless in their bloodthirst. Every Ahroun is 
							 a dangerous individual to be around, but when the forces 
							 of the Wyrm attack, their packmates are glad to have a 
							 Full Moon warrior at the front of the charge.
							</p>
						<br>
						<br>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
